[2012-06-26 10:07] snellm opened #5 "TypeSafeMatcher should not return false if null or wrong type is passed"
Hi There - Currently, TypeSafeMatcher.match return false if null or the wrong type is passed. I think this is likely to mask bugs in code
- If the wrong type is being passed, it's almost certainly a bug, which is easy to introduce since Matcher.match is not typesafe.
- If null is passed, the Matcher implementation should deal with it - in most cases, this will also be a bug, so throwing a NullPoin

[2012-06-26 10:14] #5 closed, assigned to nobody

[2012-08-26 19:31] pniederw opened #7 "isCloseTo() doesn't handle special double values (e.g. infinity) well"
`assertThat(Double.POSITIVE_INFINITY, closeTo(Double.POSITIVE_INFINITY, anyDouble))` should probably pass, but it fails. Same for `Double.NEGATIVE_INFINITY` and `Double.NaN`. A simple solution is to first check for equality.

[2012-08-26 19:41] pniederw opened #8 "isCloseTo() shows wrong delta in mismatch description"
For example, the description for `assertThat(2.2, closeTo(3.3, 0.5)` ends in "<2.2> differed by <0.6>", but should end in "<2.2> differed by <1.1>". That is, unless I'm misinterpreting the intended meaning of the message.

[2012-08-28 16:29] #8 closed, assigned to sf105

[2012-09-23 03:03] ivan opened #10 "Consider versioning CoreMatchers.java"
I build all of my Java dependencies from source, and JavaHamcrest's use of qdox to generate CoreMatchers is a bit of a roadblock for me: qdox requires jflex to build, and jflex requires cup, which requires jflex.  qdox also requires byacc to build.  Anyway, it's a nest of circular build dependencies.

Why version CoreMatchers.java, despite being generated code?
(a) qdox is very hard to build witho

[2012-09-23 03:59] #10 closed, assigned to nobody

[2012-09-27 20:43] rgrunber opened #11 "Hamcrest should be an osgi bundle"
I've seen discussion of this at http://code.google.com/p/hamcrest/issues/detail?id=173 , and the topic has come up in regards to doing the same for Junit (https://github.com/KentBeck/junit/issues/212). Is there any plan for this ?

[2012-12-17 12:03] sf105 opened #17 "Upgrade to JUnit 4.11"
Junit 4.11 includes that assertThat() that reports mismatches

[2012-12-17 22:15] #17 closed, assigned to scarytom

[2012-12-20 14:09] hertzsprung opened #18 "Improve hasItem() diagnostics on empty collection"
[code]

Gives the diagnostics

[code]

Could we add something like `but: was empty`?

[2012-12-20 20:31] #18 closed, assigned to scarytom

[2012-12-25 11:14] sf105 opened #19 "Add typed argument to _dont_implement_Matcher method"
Id like to be able to use the reflective type finder on any Matcher (to help with porting jmock to java 7). If we add a T argument to the dont_implement method on the Matcher interface then the type will be accessible.

[2013-01-06 22:40] bodiam opened #20 "Javadoc is incorrect for Matchers.isOneOf"
Current Javadoc is:
- Creates a matcher that matches when the examined object is equal to one of the
- specified elements.
- <p/>
- For example:
- <pre>assertThat("foo", isIn("bar", "foo"))</pre>
-
- @param elements
-     the elements amongst which matching items will be found
  */
  public static <T> org.hamcrest.Matcher<T> isOneOf(T... elements) {
    return org.hamcrest.collection.IsIn.<T>isOne

[2013-01-06 22:42] bodiam opened #21 "Add varargs method for Matchers.stringContainsInOrder"
It would be nice to have a varargs method for Matchers.stringContainsInOrder, so that instead of:

stringContainsInOrder(Arrays.asList("The", "trio", "arts"))

you can do:

stringContainsInOrder("The", "trio", "arts"))

[2013-01-06 22:52] #20 closed, assigned to nobody

[2013-01-07 10:26] sf105 opened #23 "Fix links in web pages"
issue tracker
Readme and JavaHamcrest page

[2013-01-07 14:08] derari opened #24 "Generator: Use QDox to find factory methods"
Right now, the code generator collects factory methods via reflection, which requires the compiled classes of the project to be on the classpath. Then, QDox is used to add more information (e.g., javadocs). Thus, the build process is like [compile, generate, compile].

This process could be simplified by using QDox to search for factory methods. This way, the classes don't have to be compiled befo

[2013-01-08 20:19] #23 closed, assigned to scarytom

[2013-01-18 12:41] Megaprog opened #25 "arrayContaining(null, null) cause NullPointerException"
Has hamcrest 1.3 and junit 4.11

Code:

Object[] objects = new Object[] {null, null};
assertThat(objects, arrayContaining(null, null));

cause NullPointerException:

java.lang.NullPointerException
    at org.hamcrest.collection.IsIterableContainingInOrder$MatchSeries.isMatched(IsIterableContainingInOrder.java:65)
    at org.hamcrest.collection.IsIterableContainingInOrder$MatchSeries.matches(IsIter

[2013-01-27 22:43] #21 closed, assigned to nobody

[2013-01-29 16:12] time4tea opened #27 "The signature of isA is completely wrong"
public static <T> org.hamcrest.Matcher<T> isA(java.lang.Class<T> type) {
    return org.hamcrest.core.Is.<T>isA(type);
  }

means you have to cast the thing to the type you are asserting it should be. Really it should be a matcher of anything (Object) not T.

e.g.
class hierarchy Foo extends Bar

Bar thing = somemethod();
assertThat(thing, isA(Foo.class))

to assert that you are getting the right

[2013-03-10 18:10] galaux opened #30 "Unit test fail with JDK7"
Hello,

Unit test fail with JDK7. Tested with junit 4.11, Ant 1.8.4 and both OpenJDK 7 and Oracle JDK 7 with the following versions:

% java -version
java version "1.7.0_15"
OpenJDK Runtime Environment (IcedTea7 2.3.7) (ArchLinux build 7.u13_2.3.7-2-x86_64)
OpenJDK 64-Bit Server VM (build 23.7-b01, mixed mode)

% java -version
java version "1.7.0_15"
Java(TM) SE Runtime Environment (build 1.7.0_15

[2013-03-12 10:21] hertzsprung opened #31 "AllOf diagnostics inaccurate"
https://gist.github.com/hertzsprung/5141786

Gives me

[code]

even though the collection was empty.

[2013-03-14 14:41] #25 closed, assigned to sf105

[2013-04-09 23:07] #30 closed, assigned to nobody

[2013-05-17 08:09] Derbeth opened #34 "No matcher for empty Map"
Correct me if I'm wrong, but there is no easy way to assert that an object is an empty map.

I think we need a matcher similar to IsArrayWithSize from org.hamcrest.collection, offering methods like mapWithSize() and emptyMap().

If you confirm there is no such matcher available, I could implement it and offer a pull request.

[2013-05-17 10:04] #34 closed, assigned to nobody

[2013-06-12 18:48] mattbishop opened #35 "Add Matchers.empty(), Matchers,hasSize() for Maps too."
While IsMapWithSize exists in the API to test for these conditions on a Map, they are hard to find. Most developers only use the Matchers facade to find matchers, so we end up with code that looks like this:

[code]

It would be nicer to write:

[code]

[2013-06-28 09:46] Derbeth opened #36 "Matcher checking a string matches a regular expression"
I cannot find any class allowing me to write my tests like:

[code]

I think that Hamcrest Library should offer matchesReges() together with containsString(), endsWith() and startsWith().

Is there a matcher like this available in the master branch? If not, I could write one (something similar to [Hamcrest Regex Matcher](http://piotrga.wordpress.com/2009/03/27/hamcrest-regex-matcher/)) and create

[2013-07-04 10:23] paulduffin opened #37 "Add FEST-Assert like syntax"
I have noticed that there are a few people using FEST-Assert instead of Hamcrest. After looking at it a bit it is really just syntactic sugar. Would it make sense to add something similar into Hamcrest so that people can use the syntax they like but still leverage the Matcher implementations. The FEST-Assert Condition class looks like a Matcher to me.

Any thoughts?

[2013-08-22 19:52] jonas-l opened #39 "isA is not an equivalent to is(instanceOf())"
`isA()` method currently accepts parameter of type `Class<T>` instead of `Class<?>`.

The following example fails to compile:

[code]

while one with `instanceOf()` succeeds:

[code]

[2013-08-25 16:37] #39 closed, assigned to nobody

[2013-09-27 13:51] bjoernpollex opened #40 "Add generic boundaries to everyItem factory method"
The factory method `Every.everyItem` currently returns a `Matcher<Iterable<U>>`. Wouldn't a `Matcher<Iterable<? extends U>>` make sense here? This would be in accordance with the [guidelines for wildcard use](http://docs.oracle.com/javase/tutorial/java/generics/wildcardGuidelines.html).

Other collection matchers, such as `IsIterableContainingInOrder` already do this.

[2014-03-11 08:27] dschulten opened #47 "IsIterableContainingInAnyOrder should use describeMismatch for items"
IsIterableContainingInAnyOrder tries to describe the mismatch like this in Matching.isMatched, thus relying on toString:

[code]

Rather it should use the same approach as IsIterableContainingInOrder and use the offending matcher to describe the mismatch. Here is what the IsIterableContainingInOrder Matcher does:

[code]

[2014-03-13 09:53] mmichaelis opened #49 "TypeSafeDiagnosingMatcher/CombinableMatcher conflicts with nullValue Matcher"
The following assertion never evaluate to true:

[code]

The root cause lies in the CombinableMatcher being a TypeSafeDiagnosingMatcher which implements `matches()` as:

[code]

Thus for `null` the matchers will never be queried. I suppose the solution should be something like:

[code]

[2014-04-19 14:39] seepick opened #51 "proposal for new JavaGenerator replacing the XML configuration file"
see original post:
https://code.google.com/p/hamcrest/issues/detail?id=205&sort=-id

i really would like to contribute that piece of code to the official project :)

kr,
christoph

[2014-05-16 18:07] avrilfanomar opened #52 "org.hamcrest.Matchers class v1.2 incompatibility with v1.1"
Hi!
When I'm changing hamcrest version from 1.1 to 1.2 (or later) I get
java.lang.NoSuchMethodError: org.hamcrest.core.AllOf.allOf(Lorg/hamcrest/Matcher;Lorg/hamcrest/Matcher;)Lorg/hamcrest/Matcher;

[2014-05-17 10:16] soehmann opened #53 "NoSuchMethodError of description on equalToIgnoringWhiteSpace Matcher V1.3"
On use of equalToIgnoringWhiteSpace within is(...) Matcher-Decorator you got an java.lang.NoSuchMethodError: org.hamcrest.Matcher.describeMismatch(Ljava/lang/Object;Lorg/hamcrest/Description;)V

hamcrest-all, V1.1 works correct

[2014-05-18 08:20] #53 closed, assigned to nobody

[2014-05-28 18:47] dcorbin opened #54 "allOf should an option to list only the matcher that failed"
I have a series of matchers that I want to assert, and they must all be true to be successful (all_of).  However, when it fails, I really only want the failing one to be the description.

[2014-08-25 20:30] #36 closed, assigned to nobody

[2014-09-08 05:50] EarthCitizen opened #59 "equalTo() Should Not Force Type Match of Actual to Compile"
Currently, `equalTo()` will not compile  when comparing `Object` to another class forcing unnecessary casting. For example:

`HttpServletRequest request = (get request);`
`Object actual = request.getAttribute("SomeAttribute");`
`assertThat(actual, equalTo((Object) fooInstance));`

In this example, the compile will fail unless `fooInstance` is cast to `Object`. But this is unnecessary for `equals()

[2014-09-17 11:30] harryjell opened #62 "stringContainsInOrder Misleading Description"
The description of the org.hamcrest.text.StringContainsInOrder
stringContainsInOrder method is incorrect, and states that the matcher matches regardless of the order of apperance, but in fact it does check the order of apperance (as the method name suggests).

Additionally the example given doesn't help the matter either, by simplying indicating that the example would pass or fail would be useful.

[2014-09-20 15:31] josephw opened #65 "Make a release of Hamcrest 2.0.0.0"
There have been a number of changes since `hamcrest-java-1.3` was released in 2012 and, for people who use Hamcrest's binary releases, it would be good to get them into a public 1.4 release.

There was some discussion on the mailing list back in 2013 about a [Java Hamcrest 1.4 Release Plan](https://groups.google.com/forum/#!topic/hamcrest-dev/NZ6DurYqgnc), which suggested that #32 was the blocker

[2014-10-29 09:30] ceefour opened #68 "Upgrade jsonpath dependency to 1.1.0"
Trying to use jsonpath 1.1.0 (in conjunction with Spring MVC Test 4.1.0) results in the following:

[code]

See http://ggl-consulting.blogspot.com/2014/10/hamcrest-library-13-not-compatible-with.html

[2014-10-31 07:59] izat opened #69 "IsIterableContainingInOrder.contains(null, null) causes NullPointerException"
It just looks like the same exception as [issue 25](https://github.com/hamcrest/JavaHamcrest/issues/25).

code:

[code]

output:

[code]

[2014-11-05 21:41] #62 closed, assigned to nobody

[2014-11-05 21:42] #35 closed, assigned to nobody

[2014-11-17 01:18] rektide opened #75 "Javadoc task fails when building with JDK 1.8"
From a `ant -Dversion=1.3-redhat-1 bundle` (to try to make a bundle to use a
`org.hamcrest:hamcrest-core:jar:1.3-redhat` that [jnr-enxio](https://github.com/jnr/jnr-enxio) is requires):

[code]

[2014-11-17 10:52] Tibor17 opened #76 "Maven Buildprocess"
Why the JavaHamcrest is not built on Maven POM files?
I guess the committers would have easier life, and it is bulletproof to deploy Maven artifacts to the Maven central repository. Some features could be maybe already accepted if the Maven build was established.

[2014-11-19 23:12] npryce opened #77 "Recreate page of links to related / add-on projects"
In the move from Google Code to GitHub we've lost the directory of add-on libraries.

[2014-11-19 23:13] npryce opened #78 "Add link to chainable matchers project"
When we've reinstated the directory of add-on projects (issue #77), add a link to the chainable matchers in https://github.com/EZGames/ez-testing

[2014-11-19 23:32] #78 closed, assigned to nobody

[2014-11-19 23:32] #77 closed, assigned to nobody

[2014-11-23 20:01] #52 closed, assigned to nobody

[2014-11-23 20:05] #37 closed, assigned to nobody

[2014-11-23 20:07] #59 closed, assigned to nobody

[2014-11-23 20:28] #24 closed, assigned to scarytom

[2014-11-23 20:28] #69 closed, assigned to nobody

[2014-11-23 20:31] #7 closed, assigned to sf105

[2014-11-25 00:49] #75 closed, assigned to nobody

[2014-12-05 13:38] dhumeniuk opened #80 "anyOf does not work in Java 8"
I'm trying to upgrade to Java 8 and now any assertions using anyOf do not work.

[code]

I get the message:

I also tried:

[code]

And get the message:

[2014-12-09 15:02] #68 closed, assigned to nobody

[2014-12-17 12:42] odrotbohm opened #82 "Add matchers for JDK 8 Optionals"
There's a Hamcrest-Extras library that has [matchers](https://github.com/gkonst/hamcrest-extras#contents) for Guava's `Optional`. It would be cool to have the standard Hamcrest library provide these kinds of matchers for the pure JDK 8 `Optionals` as well.

[2014-12-23 11:33] #76 closed, assigned to nobody

[2014-12-23 11:35] #51 closed, assigned to nobody

[2014-12-23 11:41] npryce opened #83 "Use @SafeVarargs annotation instad of multiple fixed-arity factory methods that overload varargs method"
The overloaded methods were written to reduce compile warnings in client code.  The @SafeVarargs annotation that was introduced in Java 7 suppresses them altogether.

This will change the ABI, but code will still be source compatible.

[2014-12-23 11:44] npryce opened #84 "Remove code generator"
The code generation complicates the build. But it's as easy to maintain the generated classes by hand.

We will:
- Bring the generated CoreMatchers and Matchers factory classes into the source
- Delete the codegen
- Remove @Factory annotations
- Deprecate the @Factory annotation interface (not delete in case client code uses it)

[2014-12-23 11:45] #84 closed, assigned to sf105

[2014-12-23 11:56] npryce opened #85 "Domain-specific Matchers factory classes"
CoreMatchers and Matchers are now in the source and both compiled into the same JAR.  CoreMatchers is therefore redundant.  Matchers is growing larger and larger, to the point that autocomplete in the IDE is awkward.

Therefore,
- Split CoreMatchers and Matchers into domain-specific classes. E.g. ListMatchers, MapMatchers, StringMatchers, NumberMatchers, etc.
- At a later date, we will deprecate M

[2014-12-23 12:00] npryce opened #86 "Publish as a single JAR"
Publish to Maven Central as a single JAR file.  Do not publish separate hamcrest-api and hamcrest-library JARs.

This will make things easier for client projects and simplify the build.

[2014-12-23 12:01] npryce opened #87 "Gather sources under a single root"
The source tree is organised into multiple source roots. This makes the build more complicated.  Since 7.0 will be released as a single JAR (see #86), there is no need for different source roots.

[2014-12-23 17:52] #31 closed, assigned to nobody

[2014-12-23 17:53] #80 closed, assigned to nobody

[2014-12-24 16:06] npryce opened #88 "Deprecate the Is matcher, for eventual deletion"
The Is matcher doesn't do anything, and so should be deleted.

Factory methods for is should not be added to the domain-specific factory classes introduced as part of #85

[2014-12-25 21:04] npryce opened #89 "Delete the Is matcher"
Depends on #88

[2014-12-26 14:57] helsing opened #90 "Add String length matcher"
Are there other than me that would like to see a simple String length matcher in the core library for the upcoming release?

It was requested already more than a year ago, here https://code.google.com/p/hamcrest/issues/detail?id=191

(Please, let me know if I can help out in any way?)

[2014-12-29 02:42] declension opened #91 "Make everyItem() non-shortcut, like hasItem()"
It seems that `everyItem()` uses shortcut logic, i.e. stops diagnosis at the first mismatch.

Whilst possibly the best idea in the general case, it's painful if you have to keep re-running the test to find out what "the next problem" is in the collection - c.f. HTML form validation in the early days of the web.

Interestingly, `hasItem()` (conceptually quite similar) _does_ diagnose all the mismat

[2014-12-29 11:23] npryce opened #92 "Decouple the evolution of Hamcrest and JUnit"
Evolution of Hamcrest and JUnit has been held back by the dependencies between the two projects. If they can be decoupled, both projects can move forward with less coordination required.

Plan:

 * create a new project (hamcrest-junit, say) that contains a copy of the JUnit code that uses Hamcrest, repackaged somewhere under org.hamcrest (org.hamcrest.junit, say) so that they can live side-by-side

[2014-12-30 18:27] #86 closed, assigned to nobody

[2014-12-30 18:29] sf105 opened #93 "Fix up copyrights"
Make sure they're all up to 2015.

[2015-01-01 06:23] josephw commented on #86
Ah; I was assuming that you wouldn't be breaking compatibility with JUnit. Hamcrest/JUnit is a fairly popular combination (it's the only way I've seen Hamcrest used) so that may slow uptake of any future Hamcrest releases; I'll keep an eye on #92.

[2015-01-01 13:35] npryce commented on #86
You will be able to use future releases of Hamcrest with JUnit, as long as you use a compatible version of hamcrest-junit and don't use JUnit methods that rely on Hamcrest's types.  Since hamcrest-junit will duplicate all functionality in JUnit that relies on Hamcrest, nobody will lose any functionality, but there will be a bit of work to change a project's import statements to bind to hamcrest-ju

[2015-01-01 13:37] npryce commented on #92
@SamirTalwar - Code in org.junit.internal will have to be rewritten to remove references to Hamcrest.  We're not doing anything about internal JUnit implementation details.

[2015-01-02 21:18] #93 closed

[2015-01-02 21:37] #92 closed

[2015-01-02 21:40] #65 closed

[2015-01-05 21:54] npryce commented on #92
hamcrest-junit 1.0.0.0-RC1 should appear in maven central soon.

[2015-01-10 20:07] marcphilipp commented on #92
@npryce Thanks for taking a first step into this direction. I'm one of the maintainers of JUnit. We have had some thoughts about modularizing JUnit. junit-hamcrest would have been a potential outcome of this.

@stefanbirkner posted a link to your blog post on the JUnit mailing list. One users replied with a number of concerns: https://groups.yahoo.com/neo/groups/junit/conversations/messages/24626.

[2015-01-10 21:17] npryce commented on #92
I'll join the JUnit group and give my thoughts

On Saturday, January 10, 2015, Marc Philipp <notifications@github.com>
wrote:

[2015-01-17 09:27] npryce commented on #92
@marcphilipp - I posted to the JUnit list but got no response. Did you see the message?

[2015-01-17 18:45] marcphilipp commented on #92
@npryce Yes, I did see it. I haven't had time to respond yet, but will do so. I think you have silenced the most

[2015-01-17 19:55] npryce commented on #92
Great.  And (of course) I'd be happy for JUnit maintainers to collaborate on hamcrest-junit.

[2015-01-23 18:59] marcphilipp commented on #92
We're in the midst of a discussion regarding our plans for JUnit 5. We will definitely get back to you. It might take some time, though.

If you need feedback from us, please don't hesitate to ping us over at junit-team/junit or through the mailing list.

[2015-01-28 12:17] jm2dev commented on #36
Assuming there is no matcher for regular expressions, you may consider to rewrite your assertion to something like this:
[code]

[2015-02-02 16:06] michaelom commented on #82
+1

[2015-02-21 16:54] pgomulka opened #97 "SamePropertyValuesAs not failing fast"
would that be possible to have a version of SamePropertyValuesAs that is comparing all properties, instead of failing on first difference?
Does this functionality already exists in some hamcrest extension?
sth that allows that to pass:
[code]

[2015-02-26 14:28] josephw commented on #47
At that point, there may be more than one `Matcher`, and none of them matched. This isn't quite like `IsIterableContainingInOrder` where it's a specific matcher that failed.

This could pick an arbitrary matcher to ask for a description, or use `describeMismatch` only when there's a single matcher available.

[2015-05-05 20:08] ott opened #101 "No tag for release 2.0.0.0"
Release 2.0.0.0 does not have a proper tag and therefore does not appear in the [releases feed](https://github.com/hamcrest/JavaHamcrest/releases.atom).

[2015-05-12 09:15] HolyHaddock commented on #82
:+1:

[2015-05-12 16:28] npryce commented on #82
Yes, but not in core, because we support old versions of the Java language that is still used in embedded systems.  Matchers for Java 8 classes will have to go in their own add-on library for now.

[2015-05-12 19:18] olivergierke commented on #82
You can have support for Java 8 types but keep compatibility with former version if you just use a JDK 8 to compile the code with e.g. 1.6 target. If the code using the newly introduced types is in dedicated classes, this doesn't cause any issues. Spring Framework makes heavy use of this technique.

[2015-05-18 23:06] valeraz commented on #54
In theory, describeMismatch should work for this case, but allOf describes only the first mismatch and returns: https://github.com/hamcrest/JavaHamcrest/blob/master/hamcrest-core/src/main/java/org/hamcrest/core/AllOf.java#L27.

Fore more user-friendly error messages, it would be more useful to aggregate all mismatches.

[2015-05-20 20:39] marcphilipp opened #105 "Hamcrest 2.0.0.0 does not work with JDK 6"
If I read https://github.com/hamcrest/JavaHamcrest/issues/65#issuecomment-68097018 correctly, Hamcrest 2.0.0.0 was supposed to work with JDK 6.

However, it was apparently compiled for JDK 7.

I've create a small sample project at https://github.com/marcphilipp/hamcrest-2-jdk6. It uses Maven to fetch `java-hamcrest` and `hamcrest-java` 2.0.0.0. It's [main class](https://github.com/marcphilipp/hamc

[2015-05-20 20:46] marcphilipp commented on #105
JUnit 5 will depend on JDK 6, not JDK 7... so this issue is really critical for me. :-/

[2015-05-20 21:37] jpallas opened #106 "(Google Code 198) Make SamePropertyValuesAs extendable"
As reported at https://code.google.com/p/hamcrest/issues/detail?id=198, the implementation of ```SamePropertyValuesAs``` is not friendly to someone wanting to extend it, because it uses ```private``` instead of ```protected```.

[2015-05-21 21:34] npryce commented on #105
Rereading that comment thread, the eventual agreement was that the next release of Hamcrest would be 2.0.0.0 and would support Java 7 and above.

If JUnit 5 supports Java 6 and above, that will be fine if Hamcrest integration is taken out of JUnit and implemented in Hamcrest-JUnit instead.  Users of Hamcrest and Hamcrest-JUnit will be using Java 7+, and so can use JUnit 5, but JUnit 5 users who st

[2015-05-24 00:13] kcooney commented on #92
Hi. I am another of the maintainers of JUnit.

Any chance that java-hamcrest can depend on JDK 6, not JDK 7? JUnit us used in a number of environments (GWT, Android, possibly Java ME). Some of our users have large systems, and cannot quickly update their JDK.

The JUnit teams' current plan was to have JUnit 5 require JDK 6. (JUnit 4.x only requires JDK 5). If we are to start to remove the dependen

[2015-05-24 19:53] marcphilipp commented on #92
I've opened #105 regarding the JDK 7 requirement.

[2015-05-24 19:57] marcphilipp commented on #92
**Proposal:** In addition to what has been released so far, we/you release hamcrest-junit 1.3 which depends on hamcrest-core 1.3. Both artifacts are compiled with target JDK 1.6.

That would not only allow JUnit to keep it's test dependency on hamcrest but in addition would make it possible to use JUnit 5 (which will not depend on Hamcrest anymore) along with hamcrest-junit 1.3 on JDK 6.

Does tha

[2015-05-25 19:33] npryce commented on #92
There is already a hamcrest-junit 1.0.0.0 release that depends on hamcrest 1.3.  If that is not compatible with JDK 1.6, I can publish a new release (1.0.0.1) that is.

[2015-05-26 13:17] npryce commented on #92
I've created a 1.x.x.x branch of hamcrest-junit and Travis is building that with Java 1.6. https://travis-ci.org/hamcrest/hamcrest-junit/builds/64050527

I'll publish a 1.0.0.1 release from that branch built with 1.6

[2015-05-26 14:02] marcphilipp commented on #92
Before you release it we should fix hamcrest/hamcrest-junit#5 first, right?

[2015-05-27 00:32] npryce commented on #105
I've released Hamcrest-JUnit 1.0.0.1, which is compiled with JDK 1.6.

[2015-05-27 00:36] npryce commented on #92
I've released Hamcrest-JUnit 1.0.0.1, which is compiled with JDK 1.6.

I didn't notice your comment. We can publish other releases (1.0.1.0, 2.0.1.0) with the generic error collector.

[2015-06-09 14:03] kwin opened #107 "hasEntry matcher needs proper variance declarations"
The return type of the hasEntry matcher is invariant on its type parameters which prevents javac/jdt from inferring compatible types. This prevents writing

[code]

instead, you have to write

[code]

or

[code]

If the signature for hasEntry were instead

[code]

the original example would work fine. This same problem likely applies to other collection matchers like hasItem, hasKey, etc.

Copied

[2015-06-16 19:48] reardonm commented on #82
:+1:

[2015-07-01 07:56] NarendraPathai commented on #82
I have some String related utilities that I have created for my personal use. I would love to contribute those. Have we decided the way we have to package those classes? Will it be an extra library for 1.8 as well?

[2015-07-01 07:58] npryce commented on #82
I suggest publishing them as an extension library to start with.

On Wednesday, 1 July 2015, Narendra Pathai <notifications@github.com> wrote:

[2015-07-08 13:50] npathai commented on #82
I have an initial implementation in https://github.com/npathai/hamcrest-jdk8-extras
Please go through it and provide some inputs.

[2015-07-12 17:23] alechenninger opened #111 "Implement equals in Matchers"
If you have an API which uses Matcher, it is difficult to mock methods because matchers are only equal by JVM identity.

ie instead of...
[code]

I have to do...
[code]

With mockito this can be mitigated with using `refEq()` in the `when` stubbing, but IMHO it's easy enough for IDE's to generate good equals methods that it's not unreasonable to expect them to be implemented.

Cheers

[2015-07-12 20:27] npryce commented on #111
What do you mean by equal?

Should a matcher implemented as (value == 1 || value == 2) be equal to anyOf(equalTo(1), equalTo(2))?

Even if you resolved this question to everyone's satisfaction, you'd have to submit a PR to implement equals and hashCode for all the matchers in Hamcrest-Java and all the extension libraries that implement Matcher!  I think this bird has flown.

[2015-07-12 20:38] alechenninger commented on #111
Thanks for the reply! I realize that would require updating a lot of matchers, but I don't see why it has to be all or nothing (particularly re: extension libraries).

I would keep it simple. `assertTrue(equalTo(1), equalTo(1))`. Each Matcher implementation can only be equal to another of the same implementation. If two have logically the same match but are different classes, they are unequal. The

[2015-07-12 20:46] sf105 commented on #111
Another way of looking at this is that it's such an usual case (testing the use of Matchers, rather than using Matchers to test other code), that you should consider writing your own for the purpose of your test. Perhaps write one that does what you want and then delegates to a standard matcher for the behaviour?

On the other hand, it looks as if you're testing a DSL construction. Quite often, we

[2015-07-12 20:53] npryce commented on #111
"Each Matcher implementation can only be equal to another of the same implementation"

That leaks implementation details beyond the interface.  It must be possible to change the implementation class without breaking client code, otherwise we'd not be able to change the classes instantiated by syntactic sugar factory methods (which we sometimes do to improve mismatch messages or performance).

[2015-07-13 03:42] alechenninger commented on #111
Good point. Perhaps rather than thinking about it in terms of implementations, think about it in terms of the API then. Is it a reasonable rule to say that if you use two different APIs (like `is` and `equalTo`) there is no guarantee that they will be equal or not even if they are logically equivalent? This would give you freedom to change the implementations. If you are comparing two matcher inst

[2015-07-17 19:13] BlueIce opened #112 "Incorrect examples in Javadoc"
The `Matchers` class contains the [two following methods](https://github.com/hamcrest/JavaHamcrest/blob/5f79ba7f0c15871f02a95c622c954eefedfcf183/hamcrest-library/src/main/java/org/hamcrest/Matchers.java#L574-L600):
`public static <E> org.hamcrest.Matcher<E[]> arrayContaining(E... items)`
and
`public static <E> org.hamcrest.Matcher<E[]> arrayContaining(org.hamcrest.Matcher<? super E>... itemMatcher

[2015-08-05 23:20] scheffield commented on #82
@npryce @npathai
https://github.com/npathai/hamcrest-jdk8-extras looks good, despite the double execution of the matcher in `isPresentAnd(Matcher)`. Is there a chance to get it into hamcrest soon?

[2015-08-06 05:31] npathai commented on #82
@scheffield Great. I will get to it soon n remove double execution. I have been busy lately. I will change it this weekend.

[2015-08-06 06:46] npathai commented on #82
@scheffield I have resolved the issue. I will further refine the implementation if I get some reviews.

[2015-08-06 06:46] npathai commented on #82
Does anyone feel we need matchers for new DateTime API of Java8?

[2015-08-09 09:37] alexec commented on #36
This would be awesome, one of the great thing about Hamcrest is the clear diagnostics.

[2015-08-09 13:06] sf105 commented on #36
@jm2dev I don't understand your point. Where does the actual value go? Also, if it fails, you just get an expected: true, was: false.

[2015-08-12 08:35] RAnders00 opened #114 "Correct generics usage in Matcher<T> and implementing classes"
Matcher<T> could be using type T in .matches()

`Matcher.java`
[code]

Obviously, you would have to refactor all underlying implementations as BaseMatcher<T>, etc.

This would remove pointless casting of the object.

[2015-08-12 09:19] sf105 commented on #114
It's like this for the same reason that equals() takes Object, we don't want to overspecify the type of the actual object. As library writers, we don't know how people will want to use this, including whether they've managed to retain the actual type in the calling code. We've provided TypeSafe subclasses to simplify the implementation where this matter.

[2015-08-12 09:19] #114 closed

[2015-08-13 08:06] RAnders00 commented on #114
What is this typesafe subclass?

[2015-08-13 08:23] sf105 commented on #114
http://hamcrest.org/JavaHamcrest/javadoc/1.3/org/hamcrest/TypeSafeMatcher.html

Perhaps a little more time investigating the existing code?

[2015-08-17 14:41] cvgaviao commented on #11
Any news about this issue?

[2015-09-02 14:28] adjohnson916 commented on #36
+1

[2015-09-07 13:17] josephw commented on #11
@cvgaviao This is addressed by #98 . If you're an interested OSGi user, please comment over there to confirm that it's a fix.

[2015-09-18 10:03] whimsycwd opened #115 "Ask an maybe naive question."
I have do some google. and Can't find answer.

* The api already define
allOf(Matcher<? super T>... matchers)

Why would we need below api:
allOf(Matcher<? super T> first, Matcher<? super T> second)
allOf(Matcher<? super T> first, Matcher<? super T> second, Matcher<? super T> third)
....
allOf(Matcher<? super T> first, Matcher<? super T> second, Matcher<? super T> third, Matcher<? super T> fourth,

[2015-09-18 10:24] npryce commented on #115
Javac 1.6 warns when passing values of a generic type to a varargs
parameter because of a hole in Java's type system. The overloaded methods
do not produce the warning. We stopped at 6 because that seemed enough for
most cases and users can write their own overload of allOf if they need
more parameters.

On Friday, 18 September 2015, David <notifications@github.com> wrote:

[2015-09-21 02:10] #115 closed

[2015-09-23 05:48] adjohnson916 commented on #34
+1 for this feature and for a new release.

[2015-10-02 07:02] marksarnold opened #116 "either(...).or(...) broken for null values"
Hello,

please take a look at the below test.  I would expect all checks to succeed.
However, the second and third do fail with:
[code]

The complete test code is this:

[code]

[2015-10-02 16:46] UrsMetz commented on #116
I guess this addresses the situation as issue #49.

[2015-10-03 06:05] marksarnold commented on #116
True. So I guess, the most sensible workaround for now would be using anyOf(equalTo(""), nullValue())...

If a fix can not be implemented in the next release, then at least the API doc of CombinableEitherMatcher and the respective either() and or() methods should warn about this!?

[2015-10-05 13:08] arend-von-reinersdorff opened #117 "Add Javadoc for JavaHamcrest 2.0.0.0 to hamcrest.org"
hamcrest.org currently only shows the Javadoc for JavaHamcrest 1.3:
http://hamcrest.org/JavaHamcrest/javadoc/

[2015-11-16 02:19] matteprl commented on #82
@npathai I would rather see your extras merged into core project, but I think you should cover it, since you called your project "jdk8" :)

[2015-11-17 06:11] npathai commented on #82
@matteprl Yes I would like that too. But I didn't get your point.

[2015-11-18 07:40] stefanbirkner commented on #82
@npathai's hamcrest-jdk8-extras has been renamed to https://github.com/npathai/hamcrest-optional.

[2015-11-18 15:37] matteprl commented on #82
@npathai
@stefanbirkner Thank you for information. I know that library is single file project. But have you considered putting it into maven? I like to keep my dependencies managed, and some people - just like me sometimes use search tool on sites like mvnrepository.com and just type hamcrest jdk8. I think it would also make more people use your library. :)

[2015-11-19 06:03] npathai commented on #82
@matteprl Yes we are already considering that. It will be available very soon. Thanks for your inputs.

[2015-11-21 08:44] toolforger opened #126 "java-hamcrest 2.0.0.0 imports redundant dependency"
I have `testCompile 'org.hamcrest:hamcrest-junit:2.0.0.0'` in my `build.gradle`.
`gradle dependencies` tells me this:

[code]

Result is that packages `org.hamcrest`, `org.hamcrest.core`, and `org.hamcrest.internals` are present twice, with diverging classes, in `hamcrest-core-1.3.jar` and `java-hamcrest-2.0.0.0.jar`.

I don't know what the actual problem is: that `hamcrest-junit` depends on `juni

[2015-11-28 17:19] bitzl commented on #27
I've submitted an Pull Request to fix this. The behavior of `isA` is documented as shortcut to `instanceOf`. I've enhanced tests to check if the beavior is similar and changed the methods return a `Matcher<?>` instead of `Matcher<TheClass.class>`.

[2015-12-07 02:29] jadekler commented on #34
+1

[2015-12-23 09:28] hzsweers opened #131 "Is this still being maintained?"
Noticed that there's been no commits since june, no documentation on the v2 release, and no responses to issues or PRs in the past 2-3 months.

[2015-12-31 11:05] sf105 commented on #131
As you may have noticed, we have a bit of a committer crisis. We did some work on it last year, but have been too busy with the day job and not working much in Java. We invited a couple of people to get involved but then they got busy too (getting volunteers is never a problem, getting active volunteers is).

Personally, I have some ideas about how the library should evolve but got stuck.

I'm now

[2016-01-04 12:17] erosb commented on #131
@sf105 I'm interested in becoming a hamcrest committer. Should I send some kind of introduction? I couldn't find your email address anywhere.

[2016-01-07 07:32] npathai commented on #131
@sf105 I would like to raise my hand.

[2016-01-09 16:30] trirano commented on #131
@sf105 sf105  You can also count on me

[2016-01-14 17:19] gsmith85 opened #133 "Clarify documentation for single Matcher Matchers.contains variant"
The following variant of contains:

[code]

Has documentation that would lead one to believe that the following code snippet would pass:

[code]

As it specifies "matches when a single pass over the examined Iterable yields a single item that satisfies the specified matcher".

It is not at all made clear that for `contains` to match, every item in the collection must have a matcher, and in the cas

[2016-01-18 10:18] erosb commented on #131
@sf105 could you please reply for any of us? Thanks.

[2016-01-23 04:57] gokhanbarisaker commented on #131
@sf105 at your service :)

[2016-02-04 21:29] lukeu commented on #83
I'm currently hitting warnings with `IsIterableContainingInOrder.contains`

Should `@SafeVarArgs` be added to this and other methods also? I.e. should this fix be extended to annotate methods which might not have had overloads to begin with?

_(Or might it be that these methods are not actually safe to annotate this way...?)_

[2016-02-09 12:39] longtimeago opened #134 "IsIterableContainingInOrder mismatch description is wrong"
Here is the example:
[code]
Obviously, item 1 is different in both lists ("str1" != "strX" ).
But the AssertionError said:
[code]

[2016-02-09 13:22] sf105 commented on #134
`is()` is just a sugar matcher that wraps the description, so you might not be getting what you expected. Can you try the same thing with `equalTo()` ?

[2016-02-09 13:40] longtimeago commented on #134
@sf105 Thanks for the fast response!
It's exactly the same with `equalTo()` instead of `is()`

[2016-02-10 10:47] kwin commented on #107
Actually `org.hamcrest.core.IsCollectionContaining.hasItems` should have a similar signature to `org.hamcrest.collection.IsIterableContainingInOrder.contains` or `org.hamcrest.collection.IsIterableContainingInAnyOrder.containsInAnyOrder`

[2016-02-21 04:13] dcsobral commented on #117
I wasn't even aware of Hamcrest 2.0.0 until I searched for a way to check a map for emptyness.

[2016-02-22 13:12] ogregoire opened #135 "Rename the distributed jar file"
In naming, it's irrelevant to use "java"-hamcrest. Maven, gradle and friends supports only Java libraries, and the complete file name (java-hamcrest.jar) already mentions it's a java library (with the extension).

Also, the name in itself is prone to confusion. When you're used to search for either "hamcrest-core" or "hamcrest-all", in an IDE, you type the group-id, then the first letters ("ham",

[2016-03-03 14:15] oberlies opened #137 "Type checking of TypeSafeMatcher is unnecessary"
With the signature of assertThat

     public static <T> void assertThat(T actual, Matcher<? super T> matcher)

it is not necessary for matchers to explicitly test the type of candidate items. The compiler will anyway ensure that the matcher is only applied in an assertThat of the matcher's declared type (or a child type thereof).

So the type inference and checking code in TypeSafeMatcher is unne

[2016-03-08 02:18] bureaquete opened #138 "Boolean type property cannot be matched due to its getter"
The problem is not having any getter function defined for `Boolean` fields if they are defined with `is` prefix, since `PropertyDescriptor` lacks readMethod if the getter does not start with `get`. For example, classes that are generated by JAXB, always contain getters for Boolean types with `is` prefix, and I cannot match those fields in any of my UT cases.

To resolve this I have a [pull request

[2016-03-11 00:49] mangelo123 opened #139 "hasItem potential bug"
I am writing integration tests with Arquillian. I have junit 4.12 on my project. hamcrest-core 1.3 is brought in through junit and does not appear anywhere else in my pom.

I am attempting to find an object created with Java in a list that is the result of a database call from an EJB. The test passes when I use:

`Assert.assertTrue("indicator2 should have been found", indicators.indexOf(indicator2

[2016-03-11 04:08] trejkaz opened #140 "Naming of method Matchers#contains is ambiguous"
In code reviews here, people often misread this:

    assertThat(collection, contains("x"));

As meaning this: "Assert that the collection contains 'x'".

But what it _actually_ means is this: "Assert that the collection contains _only_ 'x'".

This causes a lot of unnecessary questions to be raised on our code reviews where code was updated to use Hamcrest, just because it reads differently to wha

[2016-03-11 13:27] alechenninger commented on #140
What if `containsOnly` had no ordering requirement, and additionally there was a `containsOnlyInOrder`?

To me this is intuitive to what the matchers are saying: if I didn't say anything about order, don't worry about it.

[2016-03-11 15:31] mangelo123 commented on #139
Actually, the bug could be in Assert.assertThat

[2016-03-11 15:39] erosb commented on #131
@sf105 any update, please?

[2016-03-13 21:38] erosb commented on #140
Few months ago I've created a PR with a similar matcher (though different naming), see #128
But don't expect any response soon (due to #131 )

[2016-03-30 13:03] Lord0 opened #141 "Name of method: equalToIgnoringWhiteSpace"
This method is incorrectly named.

It does NOT ignore ALL whitespace.

From the doc:

Creates a matcher of String that matches when the examined string is equal to the specified expectedString, when whitespace differences are (mostly) ignored. To be exact, the following whitespace rules are applied:

- all leading and trailing whitespace of both the expectedString and the examined string are ignor

[2016-03-30 13:19] BryanDollery commented on #141
What about -- equalToIgnoringSuperfluousWhitespace?

[2016-04-01 11:50] cimnine opened #142 "Same List<Long> is not same according to containsInAnyOrder"
Take the following example:

    @Test
    public void compareSameList() {
      // given
      List<Long> expected = Arrays.asList(100L, 101L, 200L, 201L, 300L, 301L, 400L);

      // then
      assertThat(expected, containsInAnyOrder(expected));
    }

This results in:

    java.lang.AssertionError:
    Expected: iterable over [<[100, 101, 200, 201, 300, 301, 400]>] in any order
         but: No

[2016-04-01 12:00] cimnine commented on #142
Never mind, I got it:

    @Test
    public void compareSameList() {
      // given
      List<Long> expected = Arrays.asList(100L, 101L, 200L, 201L, 300L, 301L, 400L);

      // then
      assertThat(expected, containsInAnyOrder(expected.toArray()));
    }

[2016-04-01 12:00] #142 closed

[2016-04-01 19:55] gauravbrills opened #143 "Make hamcrest hasProperty to match on nested properties"
Use case below

http://stackoverflow.com/questions/36363372/is-there-a-way-to-do-deep-comparison-on-a-nested-property-with-hamcrest/36364718#36364718

I use hamcrest for most of my testing ,but have encountered a issue with it not being able to test a property one level down in the object graph .A snipped of my test case is below

[code]
so here I want to check if in the list of foos I have a prop

[2016-04-06 09:28] sf105 commented on #138
I've just added a test for what I think this problem is and it works on my machine without any code changes (Java 7). Please submit a failing test.

[2016-04-06 09:28] #138 closed

[2016-04-06 10:00] #112 closed

[2016-04-06 10:43] SubOptimal opened #144 "TypeSafeDiagnosingMatcher.matchesSafely is called twice in case of mismatch"
In case of a failed match the method `matchesSafely` is called twice. This behavior should be mentioned in the Javadoc as it might have unexpected side effects on the executed check inside (see an example from SO [1]).

Analogous to an example in `IsCollectionContainingTest.java` an example could be implemented as

    public class TypeSafeDiagnosingMatcherTest {

        @Test
        public void

[2016-04-06 14:12] sf105 commented on #144
In the mists of time, we made a decision that we do not guarantee how often any of the matches methods might be called. I'm not sure where best to document this as I doubt if anyone actually reads the Javadoc for Matcher. In the short term, a better workaround would probably be to collect the stream and match against that.

[2016-04-06 18:37] SubOptimal commented on #144
I agree that for the provided Stream example other/better solutions exist to check the count. On the other side it is a good example for the unexpected behavior of possible edge case uses. The same behavior happen with the `TypeSafeMatcher`.

For the Javadoc maybe a hint would be enough to mention that any method of `item` invoked inside the `matches` methods should be idempotent and should not ch

[2016-04-07 13:00] sf105 commented on #27
Fixed

[2016-04-07 13:00] #27 closed

[2016-04-07 13:01] #11 closed

[2016-04-07 13:02] sf105 commented on #144
I've added comments to the Matcher interface

[2016-04-07 13:02] #144 closed

[2016-04-07 13:15] sf105 commented on #140
Agree with your points, but this would be quite a breaking change. I'll look at deprecating.

[2016-04-07 19:33] SubOptimal commented on #144
Great. Thank you.

[2016-04-07 21:24] BlueIce commented on #138
This problem can only be observed if the `isXyz()` method returns `Boolean`. For a primitive `boolean` return type everything is working fine.

[2016-04-08 00:52] bureaquete commented on #138
@BlueIce is correct, the issue arises due to `PropertyDescriptor` not being able to find getters for non primitive `"B"oolean` fields with getters defined as `isFoo()`. You can easily reproduce the issue with this description.

[2016-04-08 12:51] sf105 commented on #138
The problem is with the code generators because the _is_ prefix is only supposed to work with native booleans. That said, I've looked at the pull request at https://github.com/hamcrest/JavaHamcrest/pull/136 and can't get it to work. I'm closing this issue and moving the discussion to the pull request.

[2016-04-08 13:09] sf105 commented on #139
It's possible that the problem is that the matcher calls `actual.equals(expected)`, which is the opposite of `indexOf()`. This is probably wrong but quite a dangerous change. Not sure what to do.

[2016-04-08 13:21] sf105 commented on #134
I think the problem is with overloading (damn Java generics). It's possible that `contains()` is interpreting the list of matchers as a list of items to be wrapped in `equalTo()`. It doesn't compile in Java 7. Can you post a test case?

[2016-04-08 14:50] longtimeago commented on #134
@sf105 Isn't test case in the issue description enough?

[2016-04-08 15:01] sf105 commented on #134
No, because I can't get it to compile in my environment. I believe I'm the one doing this for free...

[2016-04-08 15:06] #105 closed

[2016-04-08 15:07] sf105 commented on #141
renamed to equalToCompressingWhiteSpace, equalToIgnoringWhiteSpace has been deprecated.

[2016-04-08 15:07] #141 closed

[2016-04-08 15:10] Lord0 commented on #141
Nice thats perfect

[2016-04-08 15:10] longtimeago commented on #134
@sf105 OK, will try to do it tonight :)

[2016-04-08 15:10] sf105 commented on #133
I think it does actually say that. This should be part of a bigger change described in #140

[2016-04-08 15:10] #133 closed

[2016-04-08 15:16] sf105 commented on #126
Presumably, this is a junit issue. In our gradle.build file we have
[code]
You might need to do something similar.

[2016-04-08 15:16] #126 closed

[2016-04-08 15:21] sf105 commented on #111
Sorry, but I think this case is too obscure, plus it raises the bar for people implementing their own matchers--don't forget it needs `hashCode()` too.

[2016-04-08 15:21] #111 closed

[2016-05-05 20:27] xavierbeynon opened #145 "IsCloseTo doesn't work with infinity"
Presumably, any pair of doubles that match equalTo should also match closeTo with the epsilon set to 0.

`MatcherAssert.assertThat(Double.POSITIVE_INFINITY,IsCloseTo.closeTo(Double.POSITIVE_INFINITY, 0d));`

`Exception in thread "main" java.lang.AssertionError:
Expected: a numeric value within <0.0> of <Infinity>
but: <Infinity> differed by <NaN>
at org.hamcrest.MatcherAssert.assertThat(MatcherAss

[2016-05-06 18:41] brandonheck commented on #34
+1

[2016-05-12 11:08] cristcost commented on #143
I use the following method to make assertions on graphs of properties.
[code]

It simply creates nested matchers but it is easy to read as it can be used with a syntax like this:
[code]

It would be nice to have this functionality on the org.hamcrest.Matchers class.

[2016-05-30 20:26] mintrupt commented on #34
+1

[2016-05-31 00:39] alb-i986 opened #147 "anyOf, allOf taking varargs: 0 args should not be allowed"
Matchers taking varargs are error-prone.
One may have a test like this:

    [..]
    assertThat(subject, allOf());

I think this can't be anything but a mistake, therefore I'd like it to be reported as an error to the user.

As a solution, I think the best feedback would be to trigger a compilation error, by changing the signature:

    public static <T> org.hamcrest.core.AnyOf<T> anyOf(Matcher<?

[2016-06-01 21:13] helsing opened #148 "Matchers as JDK8 Predicates?"
Is there anyone other than me, that would love if the next version of JavaHamcrest could make the leap into JDK8 and make matchers to be of type `java.util.function.Predicate`?

This way, matchers could be used anywhere a Predicate is expected and it would be so nice if descriptive messages (including mismatch messages) could be built using functional composition, e.g `Function<T, String>`.

I hav

[2016-06-02 16:19] sf105 commented on #148
Thanks for contributing. Java 8 is likely to bring such a shift that we ought to have a new version of Hamcrest. There have been several attempts, none quite with enough traction. Yours looks like the sort of thing we should be thinking of. As you've noticed, the critical point is getting the descriptions right, which is why it has to be more than just a single boolean function.

[2016-06-02 16:19] #148 closed

[2016-06-06 10:31] sf105 commented on #145
The problem here is subtracting one infinity from another, which is Not A Number. I don't think it's worth us handling this.

[2016-06-06 10:31] #145 closed

[2016-06-06 17:08] xavierbeynon commented on #145
Why?  Are you asking for a pull request?

[2016-06-11 18:41] alinebrito opened #149 "Brief Question About Hamcrest Internal Interface"
Dear Hamcrest developers,

I am a master student at UFMG, Brazil. Currently, I am researching the use of internal interfaces by client projects. I mean, public interfaces for use only by internal modules (e.g., org.hamcrest.internal.ArrayIterator).

In my research, I found 23 internal interfaces in Hamcrest (see the list at: [Internal InterfacesHamcrest ](https://www.dropbox.com/s/jhv9eji7uhcighf/

[2016-06-24 21:42] JasonWThompson opened #152 "hasProperty with value fails if the scope of the instance's class is not public"
If an instance of a default scoped class is passed into the hasProperty matcher, the assertion will always fail when the get method is invoked to get the value of the property.

[2016-07-11 20:51] massenz commented on #117
I see the commit, but the javadocs still appear not to be reachable from hamcrest.org?
http://hamcrest.org/JavaHamcrest/javadoc/

still shows this:
![screen shot 2016-07-11 at 1 51 15 pm](https://cloud.githubusercontent.com/assets/1153951/16746301/93d9d286-476e-11e6-99c2-5bc09aa85816.png)

How do we get to see the Javadocs?
Thanks.

[2016-07-11 21:23] massenz commented on #27
Could you please give us an indication of which version this was/will be released for?
I'm currently using `java-hamcrest:2.0.0.0` and it still has the same incorrect signature.

Thanks.

[2016-07-11 21:29] durron597 commented on #27
This change hasn't been released yet. I'm not a Hamcrest member so I can't tell when they plan to release the next one, but for now it looks like you'll have to build from source.

Unfortunately master still has the version number listed as 2.0.0.0, so you'd probably have to change that in your build if you're going to add it to a local repo.

[2016-07-12 06:51] arend-von-reinersdorff commented on #117
@massenz The pull request is still open.

In the meantime you can see the Javadoc for version 2.0.0.0 here:
http://javadoc.io/doc/org.hamcrest/java-hamcrest/2.0.0.0

[2016-07-12 18:29] massenz commented on #117
Cool, thanks!

[2016-07-15 11:54] dzieciou commented on #144
@sf105  "I'm not sure where best to document this as I doubt if anyone actually reads the Javadoc for Matcher." -- I do read.

[2016-08-03 08:02] cod3hulk commented on #82
Any update about when this will make it into hamcrest library? I have seen that hamcrest-optional from @npathai  was forked for maven release integration (https://github.com/baev/hamcrest-optional). But I would like to see an "official" hamcrest integration. From my point of view it makes totally sense to integrate the hamcrest-optional lib into hamcrest project.

[2016-08-14 15:26] npathai commented on #82
@cod3hulk @matteprl @scheffield
I have released hamcrest-optional to maven central

[code]

[2016-08-25 22:46] TV4Fun opened #156 "Matchers.containsInAnyOrder overload resolution oddities"
Consider the following snipped of code:
`import java.util.HashSet;
import java.util.Set;

import org.hamcrest.Matcher;
import org.hamcrest.Matchers;
import org.junit.Assert;
import org.junit.Test;

import static org.hamcrest.Matchers.equalTo;

public class TestOverloadResolution {
  @Test
  public void TestSetResolution() {
    Set<Integer> actual = new HashSet<>(3);
    actual.add(1);
    actual.

[2016-08-27 19:01] tiagomestreteixeira commented on #117
I was like the @dcsobral , after some deeper search i found the version 2.0.0.0 because of the method IsMapWithSize. @arend-von-reinersdorff thank you for the link. There is still only javadocs v1.3 at http://hamcrest.org/JavaHamcrest/javadoc/

[2016-09-02 20:37] ldeck opened #157 "TypeSafeMatcher.matches wrongly asserts the item is not null"
Say I have a custom BlankString matcher as follows:
[code]

The following simple test case fails:
[code]

The result is:
[code]

The reason is fails is due to TypeSafeMatcher.matches:
[code]

This should be defined as follows:
[code]

Then the custom code would actually get called.

[2016-09-02 20:43] ldeck commented on #157
Furthermore, the following test case passes for all the wrong reasons:
[code]

[2016-09-02 20:47] ldeck commented on #157
The workaround is to do the following, but this shouldn't be necessary (I think):
[code]

[2016-09-04 17:11] UrsMetz commented on #157
A similar discussion already happened over at issue #49. There @sf105 stated that the intention of `TypeSafeDiagnosingMatcher` is that it never matches `null` (and the same likely holds true for `TypeSafeMatcher`) so you shouldn't use them when you want to match `null`.

[2016-09-10 01:16] IanWorthington opened #158 "closeTo compares fine with error 0, but fails with error e-6"
I'm getting an error that doesn't look right to me:

java.lang.AssertionError: test lng1 close to e-6 error
Expected: is a numeric value within <-2.0013229086876708E-6> of <-2.001322908687671>
     but: <-2.001322908687671> differed by <2.0013229086876708E-6>

Test code is:

double lng1 = -2.001322908687671;

assertThat("test lng1 close to zero error", lng1, closeTo(lng1, 0D));  // This passes
ass

[2016-09-16 10:33] tique opened #159 "containsStringIgnoringCase"
Hi,
is there a method similar to equalsIgnoringCase for containsString?
like for example containsStringIgnoringCase?
Id like to check if a sting is contained in another string regardless of case.
e.g.
"sofa" matches "Sofa-bed"
Thanks

[2016-09-16 11:52] tique commented on #159
I have created a matcher as per: http://stackoverflow.com/questions/26762099/i-need-matcherstring-containsstringmatcherstring-matcher-am-i-doing-somet

[2016-09-16 11:52] #159 closed

[2016-09-28 14:06] StarBax89 commented on #116
This is caused by this little pice of code in TypeSafeDiagnosingMatcher
[code]
The `item != null`  and `expectedType.isInstance(item)` is false for `item = null`

This can be fixed by adding this dirty hack to CombinableMatcher
[code]
Therefore TypeSafeDiagnosingMatcher's matches method must be non final and ShortcutCombination needs a getter for matchers.

I know this is really dirty, maybe someo

[2016-09-28 14:14] StarBax89 commented on #49
This is caused by this little pice of code in TypeSafeDiagnosingMatcher
[code]
The `item != null`  and `expectedType.isInstance(item)` is false for `item = null`

This can be fixed by adding this dirty hack to CombinableMatcher
[code]
Therefore TypeSafeDiagnosingMatcher's matches method must be non final and ShortcutCombination needs a getter for matchers.

I know this is really dirty, maybe someo

[2016-10-02 22:41] tomwhoiscontrary opened #162 "Matchers for XML documents"
I've had another idea!

I've done a few projects which involve generating XML documents. I imagine a lot of Java programmers have. Usually, as part of this, i write tests which involve generating some XML and then making assertions about it.

There are various XML assertion libraries out there, and of course you can pull a DOM tree apart manually and assert on the bits, but there's nothing that i

[2016-10-02 23:18] SamirTalwar commented on #162
Seen [xml-matchers][]?

[xml-matchers]: https://github.com/davidehringer/xml-matchers

[2016-10-03 08:31] priiduneemre commented on #143
+1

[2016-10-05 07:30] kwin commented on #83
Even with 2.0.0.0 I still do not see the annotation on `org.hamcrest.Matchers.contains(...)` therefore I still get the following warning
`Type safety: A generic array of Matcher<? super something> is created for a varargs parameter`

[2016-10-18 13:38] pikeview opened #163 "Hamcrest History"
Hi,
I was looking for the history of hamcrest. Neither hamcrest website nor wikipedia has it.
It would be great if someone can take the time to post on either of these sites

thanks

[2016-10-26 21:04] Buttink opened #164 "Java 8 assertThat type safety lost"
Seems like Java 8 changes how generic arguments are resolved and now there is no type safety when using assertThat.

`assertThat(1, is("abc"));`

This now compiles and will fail at runtime. It would be nice if I knew immediately if my test were going to fail. If I were to guess I would think this is because the compiler just figures out that it can use Object for type T. Is there any way to fix th

[2016-10-31 11:28] andreas-lundgren-storytel opened #165 "IsNot should override describeMismatch"
IsNot matcher should override the describeMismatch method in order to allow matchers down stream to propagate a proper mismatch description in a similar way as the Is matcher.

[2016-10-31 11:38] andreas-lundgren-storytel commented on #165
(If you agree, I will be happy to do a PR. The fix is just a copy/paste from the `org.hamcrest.core.Is` method `describeMismatch`

[2016-10-31 12:47] tomwhoiscontrary commented on #54
See also the different but related #31 "AllOf diagnostics inaccurate".

There are two issues with allOf. Firstly, that the mismatch description is reliably incomprehensible. Secondly, that only the first mismatch is described.

There's some discussion in #31 pointing out that we have to be careful about verbosity, because when you compose verbose matchers, things can get out of hand.

However, if

[2016-11-17 15:11] edbrannin commented on #36
It turns out this was released as part of `java-hamcrest` 2.0.0.0 -- you'll also want to add `hamcrest-junit` to your project if you upgrade from 1.3, and use its `assertThat()` instead of the one in jUnit 4.

[2016-11-17 18:16] tomwhoiscontrary commented on #36
Is Hamcrest 2 actually a thing? I thought it was an abortive sally.

[2016-11-17 18:54] edbrannin commented on #36
There doesn't seem to be, but it's published to Maven Central.  I was able to put it & the new JUnit integration in `pom.xml` and get my project building.

The main issue was I couldn't `import static org.junit.Assert.*;` anymore (for older test cases that still use `assertEquals`, etc.)  because the two different `assertThat()` implementations got ambiguous.

[2016-12-05 16:05] thibaut-sticky commented on #165
Any update for this issue. I agree the fix seems easy but perhaps it was not planned to be used like that?

[2016-12-05 16:09] thibaut-sticky commented on #165
There is conversion on this [PR](https://github.com/hamcrest/JavaHamcrest/pull/9).

[2016-12-05 21:09] itamarst opened #167 "`assertThat(0.0, equalTo(-0.0))` claims they are not equal"
Consider the following program:

[code]

When I run it I get:

[code]

Junit 4.12, hamcrest 1.3.

[2016-12-05 21:11] itamarst commented on #167
Oh, apparently it's just Java being awful: http://docs.oracle.com/javase/8/docs/api/java/lang/Double.html#equals-java.lang.Object-

[2016-12-05 21:11] #167 closed

[2016-12-06 06:53] andreas-lundgren-storytel commented on #165
I added this comment to #9 , will add it here too:
-------------------------------------------------

I am not experienced enough to put in any strong arguments, but let me describe the issue I had in #165 in more detail.

I have a test case using a custom Matcher. The test case looks like this:
[code]

My matcher looks like this:
[code]

With the current implementation of not, if a negatet testca

[2016-12-06 08:41] thibaut-sticky commented on #165
Yes in case the test fail with a not matcher, the toString of the object is called. And of course, most of the time is not the behavior we want. You override solution will fix our issue, but is it the correct way?

[2017-01-10 11:11] PissedCapslock commented on #158
Just bumped into this issue.
A very typical use case for the {{closeTo}} matcher is to use a relative error:
[code]
This will always fail when expected is a negative number.

[2017-01-10 15:42] davidxia commented on #82
Hi all. We at Spotify have open-sourced some matchers for Optionals here https://github.com/spotify/java-hamcrest. Hopefully you find these useful and maybe we can even get some of these into upstream.

Let us know if you have questions or ideas.

[2017-01-20 12:50] paulduffin commented on #101
I assume that the 2.0.0.0 branch is the one that is the source for https://mvnrepository.com/artifact/org.hamcrest/java-hamcrest/2.0.0.0 and https://mvnrepository.com/artifact/org.hamcrest/hamcrest-junit/2.0.0.0.

What is the difference between 2.0.0.0 and 2.x and master?

[2017-01-20 14:44] paulduffin commented on #101
To answer my own question (as much as I can from the git history) 2.x is a dead end - has not been worked on since 2014. 2.0.0.0 is almost the same as master - there are about 7 significant changes made since the commit that is common to both (f540af9fd49f33cc07b3446a8895c7b51cbf0944). Those changes are incompatible, based on the fact that there are some conflicts when attempting to merge v2.0.0.0

[2017-01-23 07:47] ttddyy opened #168 ""hamcrest.org" not found"
What happened to the hamcrest.org web page?

[2017-01-23 08:28] sf105 commented on #168
we appear to have lost the domain. I can't find out who owns it.

[2017-01-23 08:28] #168 closed

[2017-01-23 21:40] sf105 commented on #101
Sigh. I had a pretty good plan, but took so long over it (what with the rest of my life) that it went out of date. For now, I'm trying to find out what happened to the hamcrest.org domain. Perhaps it's time to resurrect a proper committers group...

[2017-01-26 11:36] jtnord opened #169 "hamcrest.org is no longer in the DNS...."
not sure how else to report this but all the docs are missing...

http://dns.squish.net/traverses/38751cbb1ada037e5f5d16d5e774c4ea
[code]

looking at the whois I can see DNS records listed and querying those servers does give me an IP address for github pages - but it appears as though there is no glue records in the root domain so you just can't get to these servers...

[2017-01-26 20:58] elreydetodo commented on #169
This is weird. Their domain registration doesn't expire until next year, but the SOA for org is claiming they have no record for hamcrest.org.

https://whois.icann.org/en/lookup?name=hamcrest.org

[code]

But:

[code]

[2017-01-26 22:23] sf105 commented on #169
I've pinged both the dreamhost proxy address and the last known owner and haven't had any response. Grateful for any help.

[2017-01-28 19:03] jtnord commented on #169
Basically the design servers have changed but the root glue records have not been updated. . Requires the domain owner to talk to the registrar

[2017-01-30 19:41] TWiStErRob commented on #131
@sf105 1 year since the first volunteer, lucky 1.3 is rock solid for most use cases

Is there a roadmap of outstanding features before it can be released?

[2017-01-30 21:37] Thunderforge commented on #101
@sf105 There were a number of interested committers in #131. Perhaps reaching out to them would be the right way to resurrect a committers group.

[2017-01-31 17:26] dcw312 opened #170 "Improve SamePropertyValuesAs to allow extension to ignore fields"
Problem SamePropertyValuesAs does not support ignoring fields

Either:

1. change private methods to protected so the class can be enhanced to ignore certain properties, or
2. add the feature to ignore fields in this class

I'm willing to make the change. Please let me know if this feature is intentionally omitted.

Thanks!

[2017-02-04 20:45] ljacqu opened #171 "IsEmptyString JavaDoc says null is matched"
This is a minor finding but it would still be nice if it could be fixed. The JavaDoc on IsEmptyString says that `null` values are matched:

[code]

The fact that it extends `TypeSafeMatcher` was a clear indication that this is not the case, and a test confirms this:
[code]

Would it be possible to update the "and null" part from the JavaDoc?

[2017-02-09 22:14] Flame239 opened #172 "hasKey performance issue"
Why `IsMapContaining.hasKey(K key)`  is iterating over whole map, instead of calling `Map.containsKey`? Latter is much faster!

[2017-02-15 19:42] pawelfanduel commented on #147
Yeah. Methods `Matchers.contains` and `Macthers.containsInAnyOrder` are affected in the worst way. If your matchers generic type are not a perfect for it it treats them as `Object` and accepts as parameters of `Matchers.contains(E... items)` without issuing error. Takes a bit to notice that generics are the cause of it.

[2017-03-02 14:37] mscinar commented on #143
Not sure what to do, to support this request. I use the workaround of cristcost in some projects but would love to see that in Matchers.

[2017-03-03 23:15] andreas-lundgren-storytel commented on #165
Did anyone else spend some thoughts on whether this was the correct way or not? I would say that what its implemented in current version is not the correct way...

[2017-03-17 21:53] #117 closed

[2017-04-22 08:40] alb-i986 opened #174 "hasSize and similar matchers to provide more debugging info"
Consider the following test case:

    @Test
    public  void asd() {
        assertThat(Arrays.asList(57, 965), hasSize(greaterThan(3)));
    }

When this guy fails, we'll get:

    java.lang.AssertionError:
      Expected: a collection with size a value greater than <3>
        but: collection size <2> was less than <3>

Which is ok, but it doesn't provide much info in order to debug the failure

[2017-07-04 20:01] davidrissato opened #176 "Wrong JavaDoc descriptions in Matchers class"
The JavaDoc for the methods `arrayContaining` and `arrayContainingInAnyOrder` have examples for `contains` and `containingInAnyOrder` methods.

[2017-07-21 20:48] StarBax89 commented on #158
I already solved this... but nobody merges my pull request

[2017-07-21 21:22] StarBax89 commented on #171
emptyOrNullString method in this class matches null.

[2017-07-22 13:58] #171 closed

[2017-07-24 13:18] mle-enso commented on #90
Let me know, if you agree with this PR or if something is missing.

[2017-07-27 16:49] diarmuidkeane commented on #170
+1

[2017-07-30 08:30] daniv opened #180 "Invalid result on closeTo matchers"

[2017-07-30 08:34] #180 closed

[2017-07-30 08:35] daniv commented on #180
mistake on calc

[2017-07-30 20:18] sf105 commented on #171
Thanks for contributing

[2017-08-01 20:53] kmbyrne opened #181 "Correctly failing containsInAnyOrder assertion causing java.lang.NoSuchMethodError"
The following JUnit can reproduce:
	@Test
	public void enumTest()
	{
		Set<DayOfWeek> dayOfWeekSet = new HashSet<>();
		dayOfWeekSet.add(DayOfWeek.MONDAY);
// I expect this to fail.
		assertThat(dayOfWeekSet, containsInAnyOrder(DayOfWeek.values()));
	}

I'm using:
			<dependency>
				<groupId>org.hamcrest</groupId>
				<artifactId>hamcrest-all</artifactId>
				<version>1.3</version>
				<scope>tes

[2017-08-22 06:36] spajkcz opened #182 "Improve JavaDoc for MatcherAssert methods"
There is missing JavaDoc for the most used methods from this project - assertThat.

[2017-08-23 14:00] Jeff-Walker opened #183 "java-hamcrest vs. hamcrest-core, hamcrest-library"
Maybe I'm missing something, but I'm looking for the latest version of hamcrest. In the past I've always used hamcrest-core, etc. and the latest version is 1.3 from 2012. Now it seems there is java-hamcrest version 2.0 that's newer. Spring boot starter has hamcrest 1.3, but java-hamcrest has things I want. I can exclude/include the libraries in my POM, but it's very confusing.

I don't see anythin

[2017-08-30 12:58] wdinau commented on #170
+1
my user case =
source = pojo
target = returned from db with db generated id and datetime stamp
I'd like to be able to exclude those properties and compare all the rest.

[2017-09-04 20:26] neuberg-tomas commented on #170
+1

[2017-10-07 17:19] rkcpi commented on #131
Any news on this?

[2017-10-11 20:58] nhojpatrick opened #185 "Java 9 Quick Win Pre Modules"
Quick win for supporting Java 9.

I'm assuming once you fully support Java 9 Modules, you would probably pick the module name of "org.hamcrest", assuming that I've done a quick patch so if hamcrest is added as a module before it's setup correctly as a module, then it's loaded as an automatic module with a name match what i'm guessing you would be using.

References; http://blog.joda.org/2017/05/ja

[2017-10-11 21:04] nhojpatrick opened #187 "Java 9 Quick Win Pre Modules - Backport to 1.3.1?"
Lots of people might still be using hamcrest 1.3, or other frameworks might not wanting to be instantly upgrade to Java 9 modules.

What is the developer views regarding doing a 1.3.1 and adding "Automatic-Module-Name" to aid people left behind?

[2017-10-13 08:48] PawelAdamski opened #188 "All matchers should implement equals and hashCode methods."
`Equals` and `hashCode` methods are in general useless when one uses Hamcrest for testing. But I want to build a library for mocking Apache `HttpClient` and I plan to build it on top of  Hamcrest Matchers. I want to test if we code generates correct set of matchers. Now I need to write:
`assertTrue(urlConditions.hostConditions.get(0).matches("localhost"));`
but I would prefer to write
`assertThat(

[2017-10-13 08:59] sf105 commented on #188
This would be a big change for an unusual requirement. Can you provide a bit more context for what you think your tests would look like?

[2017-10-13 12:53] PawelAdamski commented on #188
Why do you think it is a big change? I see it rather small, `equals` and `hashcode` are very simple and can be even generated automatically.

I'm writing a library for mocking Apache `HttpClient`. It will work similarly to WireMock. A user will be able to write:

httpClient.onPost("http://ww.example.com")
    .withParameter("foo",equalsTo("abc"))
    .withRefrence(emptyString())
   .doReturn("Exam

[2017-10-19 14:05] mmugur81 commented on #170
+1

[2017-10-23 15:02] piotrbo commented on #170
+1

[2017-10-23 15:02] piotrbo commented on #170
+1

[2017-10-27 20:33] arend-von-reinersdorff commented on #164
Looks like you correct, Java 8 improves type inference:
https://blog.jooq.org/2013/11/25/a-lesser-known-java-8-feature-generalized-target-type-inference/

[2017-10-28 18:51] dcw312 commented on #170
I have started a fork to implement.

[2017-11-05 19:10] sarahBuisson opened #190 "issue with containg"
the line
assertThat(Arrays.asList(1,1), org.hamcrest.Matchers.contains(1));

fail.

[2017-11-08 15:13] feirorum commented on #170
+1

[2017-11-08 18:07] BlueIce commented on #190
This is the intended behaviour. `contains` only matches if all parameters have a one-to-one correspondence to the list elements. So this would work:
[code]

To check if the list has at least one element use
[code]

[2017-11-16 14:31] edbrannin opened #191 "Migrate Tutorial to GitHub wiki"
The Tutorial at https://code.google.com/archive/p/hamcrest/wikis/Tutorial.wiki is missing formatting on some code blocks, and would probably read better on a GitHub wiki.

(It's linked under "Getting Started" at http://hamcrest.org/JavaHamcrest/)

[2017-11-23 19:22] StarBax89 commented on #158
There is still a pull request to solve this issue.

[2017-12-15 23:49] plitter opened #192 "Bug with containsInAnyOrder"
Please refer to these tests:
[code]
My test is failing at testLongerSimpleShareable. At the 128th element when it is comparing an object. But when only comparing the Integer it works.

[2017-12-16 10:53] UrsMetz commented on #192
I guess that this is not a bug in Hamcrest but rather related to how Java handles creation/caching for `Integer`s when auto boxing them from `int`s: For values in the range -128 to 127 the language specification guarantees that the same `Integer` reference is used. This is not the case for `int`s outside this range, cf. https://stackoverflow.com/questions/3130311/weird-integer-boxing-in-java#31303

[2017-12-16 23:04] plitter commented on #192
Thanks, that explains it 👍

[2017-12-16 23:04] #192 closed

[2017-12-28 17:22] samfraser commented on #170
+1

[2018-01-22 11:30] noopur2507 commented on #187
Eclipse Java Development Tools (JDT) is using org.hamcrest.core 1.3.0 while running JUnit 4 tests.  Since it does not have Automatic-Module-Name set in its manifest, it is currently not possible to use the hamcrest.core JAR on the modulepath in a Java 9 project.

Can we have a new version of hamcrest.core as suggested in this bug report with Automatic-Module-Name?

[2018-02-07 03:12] #149 closed

[2018-02-08 04:40] trejkaz commented on #190
#140 ;)

[2018-02-13 19:00] wltjr commented on #101
Short of a new release, could use tags for 2.0.0.0. Seems Junit4 has switched to using that, and no longer builds against 1.3.x. For the time being I will fork and tag for my needs. Though would much prefer tags come from upstream.

[2018-02-16 14:44] mikegolod commented on #143
Hm, great issue. My usecase - matching arbitrary properties in Spring Integration message payloads.

[2018-02-17 01:23] mattmichal commented on #170
+1, my use case is similar to that of @wdinau although I'm not using an ORM tool.

[2018-02-18 20:51] sf105 commented on #143
Good point

[2018-02-18 20:52] sf105 commented on #143
One small correction, you don't need to do the null value check. The matcher should handle that.

[2018-02-18 22:14] sf105 commented on #143
I've pushed HasPropertyWithValue.hasPropertyAtPath() based on your solution. See what you think.

[2018-02-23 22:40] wltjr commented on #101
@sf105 I am happy to help with getting a new release out and setting up CI stuff, like what I did for [JTidy](https://github.com/jtidy/jtidy) and I do for all my repos. Once JTidy is furthered and some issues fixed will modify it to auto deploy on tag to maven and gradle repos along with a jar under releases. Not sure about helping to maintain and further code, but I can at least help on the CI/de

[2018-03-12 14:16] Vitalik549 opened #195 "Create Iterable/Collection matcher like: doesNotContainAnyOf(T [] items)"
Case:
[code]
This assertion won't fail. I understand why it will pass, though it's not expected by most of users.

It would be nice to have simple Matcher to check that "every item is not in the list"

[code]

[2018-03-16 21:22] udalrich commented on #27
Any hope of this eventually being released?

[2018-03-21 19:54] durron597 commented on #27
I think the problem is that the version in `CoreMatchers` [never got fixed](https://github.com/hamcrest/JavaHamcrest/blob/master/hamcrest-core/src/main/java/org/hamcrest/CoreMatchers.java#L126)

[2018-03-29 14:58] krichter722 opened #196 "Specify which whitespace definition is used for matchers"
I'd be nice if matchers involving whitespace, like `equalToCompressingWhiteSpace` would expand on which whitespace definition is used since there're a lot of them out there. For instance, it's not even clear whether Hamcrest considers newline characters whitespace or not. [Wikipedia mentions a unicode character property "WSpace=Y"](https://en.wikipedia.org/wiki/Whitespace_character) which seems re

[2018-04-01 13:20] krichter722 opened #199 "Matcher.matches needs to have parameterized argument"
Generics are hard to understand and a wonderful thing after you did. Roughly speaking, the description

[code]

shows that generics have not been understood by the author.

The opposite (almost) is the case. If you specify a `Matcher` (without generics) as static type the matcher doesn't know the type at runtime - how could it. If you specify a `Matcher<SomeType>` you either

  1. are accessing it

[2018-04-01 18:13] sf105 commented on #199
Thanks for contributing. Please see the pull request message.

One point to make is that we're very picky about our mismatch descriptions because matchers are used in other situations than unit tests. It's a conscious design choice not to just let things fail.

[2018-04-01 18:13] #199 closed

[2018-04-03 10:58] sf105 commented on #196
This is a good point.

[2018-04-25 10:07] brainbytes42 opened #201 "empty()-Matcher in contains()-Matcher works not with custom class"
I have a List of Lists and for that I wanted to check the contents.
Therefore, I nested Matchers.empty() and Matchers.contains() inside Matchers.contains() - but the test failed, saying that the first element should have been empty, but was... empty. Well...

I've put together a short test-case, showing different related scenarios that are working (nested empty() with no contains() afterwards and

[2018-04-30 20:07] wykapedia commented on #170
+1, same use case as @wdinau

[2018-05-09 03:33] StevenGBrown commented on #183
Do I want hamcrest-junit or java-hamcrest? Maybe both? I agree that some documentation would be very useful. :+1:

[2018-05-11 21:59] cppwfs opened #202 "Support a EventuallyMatcher"
The EventuallyMatcher is a matcher that will evaluate another matcher repeatedly until it matches, or fail after some number of attempts.
This is useful when waiting for results from a resource that may take time to return a result.

[2018-05-14 15:07] Gozke commented on #170
I'd love this feature. I have a similar usecase to what @wdinau described above.

[2018-05-23 21:31] wlund-pivotal commented on #80
Could someone explain how they fixed the problem?  I am having the same error when I import the project and the project pulled in:
* hamcrest-junit-2.0.0.jar
* java-hamcrest-2.0.0.jar
* hamcrest-library-1.3.jar
* hamcrest-core-1.3.jar
What needs to change to fix the TopologyTest.java?

[2018-05-26 22:00] nhojpatrick opened #204 "Java Modules v1.3.x"
Hamcrest future

Java modules was massive change, rolling out a patch on 1.3 which supports modules I feel would be useful for downstream projects that build upon, use or incorporate hamcrest into their libraries.

I'm specifically talking about "Automatic-Module-Name" being added into the MANIFEST.MF.

[2018-05-26 22:04] nhojpatrick opened #205 "Java Modules v2.x"
Hamcrest future

Following on from #204 start thinking about how packages need to be refactored and what is simple or what would need to be done in a major version release.

[2018-05-26 22:06] nhojpatrick opened #206 "Java 8 Supporting Language Features"
Hamcrest future

Java 8 introduced DateTime, Optional and Streams to make but a few. I believe these should be native matchers within hamcrest.

[2018-05-26 22:27] nhojpatrick opened #207 "Move to Java 8"
Hamcrest future

Bump minimum version of Java to Java 8.

Most projects in my view that are using Java 5, 6 or 7, are stable, they are happy with the features currently provided in Hamcrest v1.3, or would be find using version 1.3 if they wanted to use Hamcrest. Not bumping the version I feel holds back hamcrest as after decades of years between Java versions it is now only 6 months before potenti

[2018-05-26 22:36] nhojpatrick opened #208 "Gradle back to Maven"
Hamcrest future

Lots of projects I noticed switched to Gradle, but I've also noticed a change where projects move back to Maven.

- Java 9 support was more stable in Maven earlier than Gradle.
- Gradle plugins appear more flaky with each Gradle version than Maven plugins
- Gradle is yes powerful but it feels like Ant, you can do a lot but to understand what it is doing you need to be an expert as

[2018-05-26 23:42] thespags commented on #208
@nhojpatrick Can you mark the issues you've created with the label "hamcrest future" as well?

[2018-05-26 23:53] nhojpatrick commented on #208
@thespags I don't have permission to add labels. The options I see in my public/private repo's to add labels, don't show on this repo.

[2018-05-26 23:57] thespags commented on #208
Oh! My mistake, thought it was the owner of the issue. Thanks for bringing more spotlight to reviving hamcrest. The slack channel fizzled out at the New Year.

[2018-05-28 19:18] ePaul commented on #83
I think this was closed preliminarily.
I think all of the varargs methods in Matchers could get this annotation, as well as the static methods they are delegating to.
(I don't understand how this changes the ABI ... the method still accepts an array of the upper bound type, right?)

[2018-06-01 16:26] sf105 commented on #207
This is obviously an important move. I think that Java 8 is a big enough change that it probably should have a new version and an API that exploits new features. A first step, however, would be to get everything to compile.

What I'm seeing is that more people than you might expect still have Java 7 code, so we should be careful about leaving them behind.

[2018-06-01 16:27] sf105 commented on #206
Agreed for a Java 8 version, also closures.

[2018-06-01 16:28] sf105 commented on #205
Do you have any concrete ideas?

[2018-06-01 16:30] sf105 commented on #204
It sounds useful. What do we need to do in this space?

[2018-06-01 16:36] sf105 commented on #188
The effort would be that we would have to enforce it across all the Matchers we've implemented, which is quite a lot. If it was part of the protocol, then other people implementing Matchers would also have to add them. Question, are you generating new Matchers, or just combinations of existing matchers?

[2018-06-01 16:47] sf105 commented on #202
You might want to have a look at the concepts of checker and probe in https://github.com/jmock-developers/windowlicker, it sounds pretty similar

[2018-06-01 16:49] sf105 commented on #191
agreed

[2018-06-02 19:29] nhojpatrick commented on #204
- checkout the 1.3 tag
- alter build so it added appropriate Automatic-Module-Name to each jar generated
- optionally alter build so if any dependencies/plugins have updates, change the build to use them
- publish those jar's/pom's to maven central

For more information about how to determine what module name to use please refer to this site http://blog.joda.org/2017/04/java-se-9-jpms-module-namin

[2018-06-02 19:57] nhojpatrick commented on #207
What about starting multiple parallel branches per java version. Then merge into the correct branch and forward and fix as required.
v2.x Java 7 or newer
v3.x Java 8 or newer
v4.x Java 11 or newer [NOTE 1]

Not sure what else to suggest otherwise those that do more to Java 9/10/11 will experience potentially more and more issues and might not be able to use hamcrest depending what the issues are.

[2018-06-02 19:58] nhojpatrick commented on #205
- basically each jar needs a module name
- map what jars depend upon what jars and add those requires
- all classes that should be publicly available to users need to be exported
- move all internal classes out of the publicly exposed packages

- create test jar to execute hamcrest functionality
- build on java 7 or 8
- execute on java 9 just using modules path and not classpath and see what warni

[2018-06-03 09:57] nhojpatrick commented on #205
Will also need to check all dependencies being used, see if they have a java 9 version yet, or java automatic module name yet, maybe raise issues or pull request with down stream dependencies so they are aware hamcrest would like to support java 9 and see when they plan to.

[2018-06-03 23:34] trejkaz opened #209 "`equalTo` matcher should show a diff of the difference to make it possible to see where it is"
If large texts are compared with `equalTo`, you just get both texts in full, and ultimately have to copy them out to text files manually and run a diff tool to figure out what the difference is. This is made worse because downstream tools reading the results don't produce diffs themselves. (To point the finger at one of the major suspects, IntelliJ IDEA shows diffs but only for tiny strings, even

[2018-07-04 09:29] BrynCooke opened #210 "AssumptionViolatedException is not serializable"
When using hamcrest via remote junit runners there may be issues because AssumptionViolatedException stores fields that may not be serializable.

If the the message was created in the constructor rather than in getMessage then this could be avoided.

[2018-07-12 06:44] thespags commented on #207
@sf105 what's the biggest hurdle or blockers for updating to java8? Is it technical like overcoming generics or having the capacity to work on it?

If it's technical, I like to better understand the root of the problem. If it's capacity, I keep looking for places where I can help, but I need to see what are the challenges.

[2018-07-28 09:11] krichter722 opened #213 "Clear up dead code"
[IsMapContainingTest contains commented out methods which are associated with a comment stating that they no longer compile and need to be investigated](https://github.com/hamcrest/JavaHamcrest/blob/8f9372a152612b45f51a12d1c549643fdac5492a/hamcrest-library/src/test/java/org/hamcrest/collection/IsMapContainingTest.java#L30) (and [line 49](https://github.com/hamcrest/JavaHamcrest/blob/8f9372a152612b

[2018-08-03 16:25] sf105 commented on #213
done

[2018-08-03 16:25] #213 closed

[2018-08-03 16:28] sf105 commented on #208
I'm open to this as I don't see much difference in practice for us between the two. I know it's a pain, but do you have the time to create a pull request?

[2018-08-03 16:29] sf105 commented on #206
I'm not sure how to handle this as there are still plenty of Java 7 users in the world. Time for a new version?

[2018-08-05 17:40] sf105 commented on #170
done.

[2018-08-05 17:40] #170 closed

[2018-08-05 17:51] sf105 commented on #207
challenges.
- I fear we still need to support Java 7, but maybe that could just be frozen.
- for similar reasons we probably ought to support Java 8 for a while.
- it's screaming for a more functional solution, but I haven't quite got the confidence about how to get there from here.

I like @nhojpatrick's numbering scheme.

[2018-08-08 18:36] npathai commented on #191
@sf105 I have worked on creating wiki pages in my fork. Take a look
https://github.com/npathai/JavaHamcrest/wiki
It's still work in progress, I need to add sample code for all matchers. If you find the format suitable, then I can work on it further.

[2018-08-10 15:37] sf105 commented on #170
It's pushed in the repo. Could you try to check it out and see if it does what you want?

[2018-08-10 15:55] sf105 commented on #183
good point. It was a work in progress.

[2018-08-17 18:27] amomchilov commented on #142
Hah, this helped me, thanks!

If you pass in a `List<Long>`, the `T...` overload infers `T` to be `List<Long>`, not `Long`, so it's checking if your list contains the whole list as a member, rather than the list members as members.

[2018-08-21 20:53] Thunderforge commented on #208
To be the dissenting voice:

They both support Java 9 and Java 10 now, so why does this matter?

If this were Wikipedia, I'd add `[citation needed]`. I have no idea where this perception comes from, and I have had no issues with plugins with newer versions of Gradle.

As someone who has used Ant, Maven, and Gradle, I have no idea what is leading you to this conclusion. It sounds to me like it migh

[2018-08-21 21:01] Thunderforge commented on #183
@sf105 So what will actually be done to resolve this? Do we change documentation? Do we add a release to [the GitHub releases tab](https://github.com/hamcrest/JavaHamcrest/releases)? How will we resolve this issue of people not knowing what to download?

[2018-08-30 17:11] agebhar1 commented on #90
would be awesome if this PR could be merged :smile:

[2018-09-05 18:18] nhojpatrick commented on #204
@sf105 got delayed but finally got time to get a 1.3.1 proposed release.

https://github.com/nhojpatrick/JavaHamcrest/tree/bugfix/204_1.3.x_jpms

All it does it add a Automatic-Module-Name into the MANIFEST.MF.

This is purely so those depending upon hamcrest don't need to use jar name generated module names. i.e. hamcrest-alpha-bravo-1.2.3.jar would become module name hamcrest.alpha.bravo

The cu

[2018-09-07 10:30] wjtlopez opened #220 "equalTo() does not match correctly with a Long and a IsEqual Matcher for API responses"
Hello,

We're using your wonderful library to assert on API responses, using RestAssured and Hamcrest.

We are doing the following:

[code]
We are seeing this in the assertion failure message:
[code]
It looks like the String "<123456L>" is coming from the toString() on IsEqual.

Regards,
Warren

[2018-09-08 18:14] sf105 commented on #220
I'm confused. What is the actual value passed to the matcher? Is it a long, or a Long, or a String?

[2018-09-08 18:16] sf105 commented on #204
The building.txt is out of date as we moved to Groovy (see another issue about moving back to maven). I start working on updating it to a more recent version that actually support uploading to maven central, but lost steam in the process.

[2018-09-18 16:18] wjtlopez commented on #220
a Long

[2018-09-21 07:55] kwin commented on #83
@sf105 Would you consider reopening this?

[2018-09-21 14:42] derTobsch commented on #90
Just googled it :) because I missed this matcher.

[2018-09-23 10:17] sf105 commented on #204
I've made you a committer if you want to start work on this.

[2018-09-23 10:51] sf105 commented on #90
It's in.

[2018-09-23 10:51] #90 closed

[2018-09-23 12:01] sf105 commented on #83
Agreed. This have got too confused.

[2018-11-05 04:46] ankurpathak opened #224 "Release Version 2.1 On Maven"
I can see the last artificat of Hamcrest released on maven central was back  in 2015.
But the latest master has many updates which are not availabe on that maven build.
For example empty matcher for Map. So please release the binaries for latest master
on maven central. So we can consume it in our projects. Also the latest master and
binaries on maven central should be in sync.

[2018-11-08 18:20] tumbarumba commented on #224
I think this is a great idea. It's been far too long since releases. I plan to try and do this myself over the next couple of weeks.

@hamcrest/hamcrest-java-devs: looking at the shiny new [Hamcrest Distributables](http://hamcrest.org/JavaHamcrest/distributables) page, there are 5 jars mentioned. I can see the code for `hamcrest-core.jar` and `hamcrest-library.jar`, but I don't see any code for `h

[2018-11-09 10:12] sf105 commented on #224
I tried to collapse everything into one jar. We don't need the generator any more as we've stopped doing the code generation for the Matchers class. There's still a decision about whether to have separate jars for the test framework integrations as they're outside the JDK. Might make life easier for dealing with junit 4/5 and other test frameworks.

[2018-11-09 11:35] tumbarumba commented on #224
Thanks @sf105. The test frame integration classes do not appear to be checked into this github repository. Do you have them somewhere else?

[2018-11-09 13:15] tumbarumba commented on #224
I found the java files on the old Google Code repo: https://code.google.com/archive/p/hamcrest/source/default/source

I'll see if I can import them into GitHub this weekend.

[2018-11-10 03:01] tumbarumba commented on #224
@hamcrest/hamcrest-java-devs: I've just landed #228, which is preparing the Gradle build for reproducing the various jars as per the 1.3 release. Included in this change: I've set the version to `1.4-SNAPSHOT`.

Are there any objections to calling the next version `1.4`? If so, what _should_ the next version be?

[2018-11-10 03:15] ankurpathak commented on #224
@tumbarumb  Using 1.4 for new version will create same confusion which to use 1.3.x.x or 2.x.x.x. So lets
skip these 1 and 2. And start a new life for hamcrest with 3 or 4 and regular releases on maven. So their
wont be any confusion remains. Since human by their greedy nature have the tendncy to use latest and greatest one.

[2018-11-11 05:16] namannigam commented on #187
Not just this, I would say `hamcrest` would have to look into the [“Split Packages” Dependencies](https://stackoverflow.com/questions/53245628/jdk9-automatic-modules-and-split-packages-dependencies) as well.

[2018-11-14 13:48] phoenix384 opened #230 "TypeSafeDiagnosingMatcher calls matchesSafely unnecessarily twice"
When a matcher extending TypeSafeDiagnosingMatcher fails the method matchesSafely is executed twice.
This is bad especially when the evaluation in matchesSafely is expensive.
The second problem is that the item state could change between executing matches() and describeMismatch(). Especially when executing Selenium tests this could happen. In this case the mismatch description would not reflect th

[2018-11-14 18:16] tumbarumba commented on #224
it's worth talking about exactly what artefacts we want to publish in the next release. I've just created a new pull request (#229) to bring back `hamcrest-integration`. As a result of this pull request, there will be 5 artifacts:
* **`hamcrest-core`**
* **`hamcrest-library`** (depends on `hamcrest-core`)
* **`hamcrest-integration`** (depends on `hamcrest-library`, and hence also transitively depe

[2018-11-14 20:42] sf105 commented on #224
I'd like to collapse all the artefacts, it turns out there's really no point to the division. The confusion with java-hamcrest is that was a failed attempt at major new version. We should probably mark one of hamcrest-all or java-hamcrest as deprecated and focus on the other one. In practice, perhaps there should just be an artefact called `hamcrest`?

[2018-11-14 20:52] sf105 commented on #230
This is an interesting use case. Our intention was that matching should be direct enough that the cost of re-evaluation should be negligible, and the current implementation has the benefit of simplicity from not retaining state. Could you post an example of the sort of matchers you're writing?

[2018-11-14 22:29] tumbarumba commented on #224
I really like the idea of having an artefact called `hamcrest` (where we merge `hamcrest-core` and `hamcrest-library`). `java-hamcrest` didn't seem quite right to me.

I'm not sure about `hamcrest-integration`, though. I don't use it myself, so I'm not sure how popular it is. However, if we include it, it will add optional dependencies to jmock and easymock. Is it feasible to **not** release any n

[2018-11-15 06:44] tumbarumba commented on #224
I've tweaked PR #229 with a new proposal: 2 artifacts: `hamcrest` and `hamcrest-integration`. We only published `hamcrest`, though. More details on the PR.

[2018-11-15 13:31] gerardh opened #231 "duplicate methods for grammar reasons"
suggestion:
would be good to duplicate

not(T value) with isNot(T value)
not(Matcher<T> matcher) with doesNot(Matcher<T> matcher)
hasX(...) with (haveX(...))

for reasons of grammer

assertThat(myList, doesNot(haveItem(myItem));

[2018-11-22 15:39] garretwilson commented on #183
Yes, can someone explain this? All our code is using `hamcrest-library`, and I'm teaching that in the course I've written and given for a few years. Now on [Baeldung: Hamcrest Text Matchers](https://www.baeldung.com/hamcrest-text-matchers) I see a reference to `java-hamcrest`, and I have no idea what it is. Does it replace `hamcrest-library`? Does it have everything that `hamcrest-library` does? I

[2018-11-22 15:42] garretwilson commented on #183
P.S. If the "official page" that tells what's going on is continually delayed until "tomorrow", could someone at least provide an informal answer here in this ticket? That would be better than nothing. After all, this ticket is already coming up in searches for people (like me) wondering what the story is.

[2018-11-22 16:08] sf105 commented on #183
`java-hamcrest` was a failed attempt at a new packaging. I think the best answer would be to look at `hamcrest-all` for future reference. @tumbarumba should be able to provide a more up-to-date answer.

[2018-11-22 21:02] tumbarumba commented on #224
I've been making a bit of progress on the release, but there are still some things to do:
* Fix the OSSRH publication (issue #233)
* Update the change log (issue #232)
* I think we should support Java 9 modules (issue #185 and/or #186 ?)
* Agree on the next version number to use. I've put in 2.1 for the moment, but I'm not sure we have consensus on that
* Update docs in preparation for the next re

[2018-11-23 04:38] tumbarumba commented on #224
I've just closed issue #183, as I think the new release should resolve all the concerns raised there.

As a summary, here's what I'm thinking about at the moment for the next release:
* Although there is no incompatible API changes (as per [semantic versioning](https://semver.org/), the aborted `2.0.0.0` release is confusing, and I think we need to do a minor version increment above that, so I'm p

[2018-11-23 07:58] tumbarumba commented on #185
Merged PR #186

[2018-11-23 07:58] #185 closed

[2018-11-23 10:15] geekybaiyi commented on #224
sounds good, any ETA for the release ?

[2018-11-23 11:22] tumbarumba commented on #224
Very Soon Now™

I'm actually wondering if we should publish a release candidate (RC1) build first. Give people a chance to kick the tyres.

[2018-11-23 16:36] sf105 commented on #224
Yes. That's a good idea.

[2018-11-23 18:16] tumbarumba commented on #224
@sf105 or @npryce : could one of you please take a leisurely stroll along to https://issues.sonatype.org/browse/OSSRH-44320 and put a comment along the lines of "tumbarumba has permission to publish to org.hamcrest" (similar to what happened at https://issues.sonatype.org/browse/MVNCENTRAL-554).

If I can get permissions in time, I'll try and put a new RC build out this weekend.

[2018-11-26 01:10] tumbarumba commented on #224
That's Nat! I've just pushed out hamcrest-2.1-rc1.jar. I doesn't look like Maven Central has synced it yet. I'll send out a note to the mailing lists when it comes through.

[2018-11-26 13:52] tumbarumba commented on #224
So... first experience report of using 2.1-rc1...

I tried it on my project at work. It's an Apache Flink pipeline, with the tests using (among other things) JUnit 4.12, Mockito, Spock, and Flink Spector. What I found was that in this particular example, the hamcrest-core-1.3.jar was still pulled in as a dependency through a lot of different transitive paths. It turns out that a lot of stuff depen

[2018-11-26 14:02] garretwilson commented on #224
So I take it the Hamcrest people aren't coordinating with the JUnit people? If JUnit depends on a Hamcrest library, and Hamcrest tries to refactor the packaging completely independently from what the JUnit people do, it will just be a mess.

Here is an idea, though: Maven will take the latest version of any transitive dependency _declared in the POM_. Currently I just want a newer version of `hamc

[2018-11-26 14:33] tumbarumba commented on #224
Thanks @garretwilson.

The JUnit 4 team chose to pick up hamcrest-core as a dependency, and talked about using `assertThat(thing, matcher)` as the recommended way of writing assertions. The JUnit 5 team changed directions, and has completely dropped the dependency on Hamcrest, or any other matcher library. These are now orthogonal concerns (which is a good thing, I think - you can easily mix and m

[2018-11-26 14:37] sf105 commented on #224
interesting ideas. Could we upgrade `hamcrest-core` and `hamcrest-library` just to have a dependency on the new combined artefact? I think that's better than using `hamcrest-core` because that doesn't explain what happened to library.

[2018-11-26 14:51] tumbarumba commented on #224
It would be easy enough to create a pom-only artefact for `hamcrest-core` and `hamcrest-library`, each with a dependency on `hamcrest`. I think it will be a fairly trivial change to the Gradle build.

Unless someone is aware of any major problems with this approach, I can try this in an rc2 release in the next couple of days.

[2018-11-26 15:00] garretwilson commented on #224
Yes, I agree this is a great approach in theory. The existing JUnit dependency on `hamcrest-core` in a pragmatic concern, though; it throws a wrench in the theory. 😄

The ideal solution in that case is to contact the JUnit people and have them release _one more version of JUnit 4_ with a dependency on your new Hamcrest-with-a-different-name. Any chance of that happening?

With @sf105 's idea, it s

[2018-11-26 17:16] tumbarumba commented on #224
Thanks @garretwilson, I appreciate you helping us clarify the various points of view. Let me try to summarise the various positions, as I understand them right now.

What have I missed? Are there other options?

## Option 1

We create a new jar called `hamcrest-2.1.jar`, which has all the code previously in `core` and `library`. We do not publish jars for the old `core` and `library`, but we do pu

[2018-11-26 19:16] garretwilson commented on #224
Actually it's not that simple. To avoid manually excluding JUnit dependencies, a user would have to know to switch to `hamcrest-core`.

Take my situation, for instance. Our parent pom uses `junit:junit:4.12` and `org.hamcrest:hamcrest-library:1.3`. (It's been ages since I set this up, so I don't remember the details, but I remember researching which libraries to use—I didn't just blindly guess, fo

[2018-11-26 20:53] garretwilson commented on #224
Maybe we shouldn't try to do too many things at one time.

1. I think the biggest thing is getting out a new version with the latest improvements. I know that's all I care about for now. I just want the regex matchers, for example. Put that out and keep the same package divisions. If I have to manually indicate `hamcrest-core` and `hamcrest-library` in my POM for now, fine.
2. Coordinate with the

[2018-11-26 21:35] tumbarumba commented on #224
@npryce ooh, I hadn't see that! Interesting bit of history, though I think it's pretty much moot now that JUnit 5 is out.

@garretwilson I don't think we need to ask the JUnit folks to release a new version of JUnit 4. As long as
Hamcrest maintains API compatibility (which I believe Hamcrest 2.1 does), then you can upgrade the version of Hamcrest used by JUnit 4 just by explicitly declaring a more

[2018-11-27 07:48] tumbarumba commented on #224
Just to clarify a bit on the behaviour of Option 1: In cases where a project imports both `'org.hamcrest:hamcrest:2.1'` and `'junit:junit:4.12'`, then both `hamcrest-2.1.jar` and `hamcrest-core-1.3.jar` will end up in the classpath. because the artifactIds do not match (`hamcrest` vs `hamcrest-core`), and so version conflict resolution will not kick in. This can be avoided by specifying an explici

[2018-11-27 13:41] sf105 commented on #224
I don't think we should mess with `-core` and `-integration`, rather we should just let them expire. If we make them pom-only, both depending on the new `hamcrest`, does that do all consistency stuff we need?

[2018-11-27 14:41] tumbarumba commented on #224
I believe so. Any existing user of Hamcrest can just upgrade their existing dependency to the latest version, and the build tool will transitively pull in the new artifact.

I have a pull request out to create and publish the pom-only artifacts (#235). I'll merge that tonight, and publish a new release candidate to test out (2.1-rc2)

[2018-11-27 16:58] tumbarumba commented on #224
Hamcrest version 2.1-rc2 has been published, hopefully it will be in Maven Central soon.

[2018-11-27 17:57] tumbarumba commented on #224
The upgrade seemed to work well for me. I tried one of my projects that was using both JUnit 4 and Hamcrest. I changed the version of `hamcrest-library` as follows:

[code]

Here's what the dependency resolution looked like:
[code]

The tests still passed, too :heavy_check_mark:

[2018-11-27 17:58] tumbarumba commented on #224
One thing I'm very interested in confirming: does the Java 9 module tweak in the manifest work? I'm not yet a heavy user of Java 9, so I don't have any handy way of quickly checking.

[2018-11-27 19:21] garretwilson commented on #224
I tried this out with Maven. First, here is my dependency tree beforehand:

[code]

Here is my POM:

[code]

Based upon what was written above I changed that to the following as the first test:

[code]

My Maven build (just a simple `mvn dependency:tree`) broke:

[code]

Apparently now I have to include `hamcrest-library` as a `<type>pom</type>`, because you didn't publish JARs. So I made the foll

[2018-11-28 07:59] tumbarumba commented on #224
Thanks for the detailed investigation, @garretwilson, that's really helpful.

So, in summary, `2.1-rc2`:
* :heavy_check_mark: Gradle works
* :negative_squared_cross_mark: Maven fails to handle the version conflict resolution in the way we indended

One option to resolve this: continue to publish empty jars for `hamcrest-core-2.1.jar` and `hamcrest-library-2.1.jar`, each with a dependency on `hamcr

[2018-11-28 20:17] monperrus commented on #224
For the record: we always test against the latest versions of all our dependencies using:

     mvn versions:use-latest-versions -DallowSnapshots=true

Our build is broken, because `use-latest-versions` recognizes a new version `hamcrest-core:2.1-rc2` on Central (while there is actually [no jar](http://repo.maven.apache.org/maven2/org/hamcrest/hamcrest-core/2.1-rc2/)).

What solution would you rec

[2018-11-29 14:56] tumbarumba commented on #224
I've just created PR #236 to build empty jars for `hamcrest-core` and `hamcrest-library`. I believe that this should resolve this particular issue. If no one objects, I'll look to creating `2.1-rc3` later today or tomorrow.

[2018-11-29 18:36] tumbarumba commented on #224
I've just release version `2.1-rc3` to resolve the problem with maven transitive dependency resolution.

I'd be interested in hearing feedback from folks who have tried this in Gradle, Maven, or any other dependency management tool out there.

[2018-11-30 10:32] monperrus commented on #224
Fixed the problem for me, thanks a lot.

[2018-11-30 13:42] garretwilson commented on #224
I tried the new JAR version `2.1-rc3`. Remember that this is my dependency tree beforehand:

[code]

Here is my POM:

[code]

First I tried just the new `hamcrest-library`:

[code]

As expected this updated `hamcrest-library` but not the transitive `hamcrest-core`:

[code]

So I changed to `hamcrest-core`:

[code]

As expected (and desired), this replaced the `hamcrest-core` that JUnit transitivel

[2018-11-30 18:04] tumbarumba commented on #224
I've done a bit of reading about Maven dependency resolution and conflict handling. This was useful: https://cwiki.apache.org/confluence/display/MAVENOLD/Dependency+Mediation+and+Conflict+Resolution

The interesting thing (to me, at least) was the different strategies that Gradle and Maven use for version conflicts by default.
* **Gradle**: load the entire dependency graph, select the latest versi

[2018-11-30 19:15] garretwilson commented on #224
That was news to me, and I've been using Maven a very long time. Then again it makes sense, because they are both transitive dependencies at the same level, but I don't think I've seen this specific situation. I'm not sure I would want to rely on the order of declaration, though; that sounds a little brittle. I personally might stick to just declaring `hamcrest-core` explicitly.

But it's an inter

[2018-12-03 12:57] phoenix384 commented on #230
An example could be a matcher for Selenium WebElements that matches if a WebElement has a specific text.
matchesSafely would look like this
[code]
So when matchesSafely is called twice (for checking and for creating the mismatch description), item.getText() is also called twice.
If the element's text changes between these two calls (due to some Javascript or whatever), the mismatch description doe

[2018-12-03 14:10] olibye commented on #224
Can I suggest the following:

- Adding the standard maven and gradle dependency instructions?

- Explain the upgrade cases:
-- hamcrest-all -> hamcrest?
-- hamcrest-library and hamcrest-core -> hamcrest?

Other than that my upgrades revealed to me how far the 2015 release of
hamcrest was behind master. Upgrading from 1.3 the following have simply
been deleted without deprecation. This is mean as i

[2018-12-03 23:05] tumbarumba commented on #224
Thanks @olibye. I've made a start at a pull request to describe some of the concerns (#PR #237). I don't think it's quite ready yet, but the distributables page can be previewed at https://tumbarumba.github.io/JavaHamcrest/distributables

Regarding the breaking changes, I didn't realise there were those ones until you mentioned them (though it should have been obvious in retrospect). This release

[2018-12-04 08:37] olibye commented on #224
I mean Matchers.isA and Is.isA.
It used to be  <T> Matcher<T> isA(Class<T> type)
It's now <T> Matcher<T> isA(Class<?> type)

Eclipse is over fussy about this but it can be easily changed to
Matchers.any(Class<T> type)

On Mon, 3 Dec 2018 at 23:05, Joe Schmetzer <notifications@github.com> wrote:

[2018-12-04 14:18] sf105 commented on #224
From what I remember, the trouble is that it's not always the case that the type being checked is the same as the type of the matcher. And, AFAIR, Intellj is fussy in the opposite direction. I lost years of my life to Java's half-baked generics.

[2018-12-05 07:47] marcphilipp commented on #224
Interesting discussion! I'm certainly glad that Hamcrest is still alive. 🙂

Have you considered publishing a pom-only artifact that uses [relocation](https://maven.apache.org/ref/3.6.0/maven-model/maven.html#class_relocation) instead of publishing empty jars?

[2018-12-05 07:57] tumbarumba commented on #224
Ooh, I didn't know about relocation! Thanks, @marcphilipp! I think that's exactly what we were looking for. I tried to RTFM, but didn't quite hit upon the right search terms.

I might try a few experiments, and see if it's worth releasing another rc.

[2018-12-06 10:13] sf105 commented on #230
Matchers based on `FeatureMatcher` will hold on to the value. Obviously, this means that we risk inconsistent behaviour between matcher implementations. I think the right answer might be to separate the timing behaviour from the raw matching, we wrote about this in GOOS with the concept of "Probes".

[2018-12-07 07:55] tumbarumba commented on #224
So, I played around with using the pom relocation feature. I couldn't get it to work. Here's what I tried...

I created this `pom.xml` for `hamcrest-core`:
[code]

Then, in a different project, I tried adding a dependency on `hamcrest-core` like this:
[code]

When maven resolves the dependencies, this is what happened:
[code]

My interpretation of this is that Maven processes artifact relocation b

[2018-12-08 11:37] tusharjoshi commented on #220
Is there any way we can see the actual code which can be executed and checked.  You may provide a basic feature with test case which is failing.

I checked with the Long values and the library works, there may be issue with the RestAssured library instead.

[2018-12-08 11:49] tusharjoshi commented on #131
Is there any way to know pending tasks on this project?  I will be able to help this month in any way possible.  Any mailing list where we can discuss?  I am interested in the priority of the issue list so I can start looking into the issues where possible.

[2018-12-10 22:34] tumbarumba commented on #224
I've created a new pull request to restore the classes that were renamed or deleted as identified by @olibye (PR #238). I didn't do anything to address the problem with Eclipse and `Matchers.isA`. I'll give people a day or two to look over those, and if there are no objections or suggestions for improvements, I'll create a new release candidate.

[2018-12-12 07:16] marcphilipp commented on #224
Thanks for trying! It seems this feature is not very helpful given how Maven's dependency resolution works after all.

[2018-12-12 11:01] sf105 commented on #220
I'm confused again. Which code do you want to see?
As to your original problem, if the actual value is a Long<12345> then that's what the expected value should be, rather than 12345L, as they're actually different types--although Java provides support for implicit conversion.

[2018-12-12 11:03] sf105 commented on #131
You'll noticed that @tumbarumba has been doing some sterling work to sort out a new generation of releases.

[2018-12-12 11:10] sf105 commented on #230
I've been thinking about this again. It's true that we call `matchesSafely` twice (that actually happens in `assertThat()` but the problem you describe here is really one of waiting for stability. I think this could be better handled by something like #202. In your case, it might need a "never" matcher. Otherwise, you're at risk of creating time-sensitive tests without making that explicit. Though

[2018-12-12 11:13] tusharjoshi commented on #220
@sf105 I was asking for "test code" to the original poster so I can reproduce the issue.  When I tried to have a Long variable and assert it with equalTo it worked for me, hence asked this question.

[2018-12-13 13:15] tumbarumba commented on #224
I've just released Hamcrest version 2.1-rc4. This release candidate has fixes the backwards compatibility issues identified by @olibye by restoring the missing classes and marking them as deprecated.

@olibye, does this release fix the issues for you?

[2018-12-13 14:19] nhojpatrick commented on #224
Just tested using 2.1-rc4, only 1 issue.

I was using `org.hamcrest.Factory` in a custom matcher for some reason and it appears to no longer exists.

[2018-12-13 14:33] sf105 commented on #224
Ah, that's because we decided to stop generating the `Matchers` class in favour of updating it by hand. Unless you're generating your own, then you shouldn't need it.

[2018-12-17 09:20] phoenix384 commented on #230
Why not avoid calling matchesSafely twice like this?
[code]

[2018-12-17 11:47] sf105 commented on #230
That's possible but has a couple of problems. First, it breaks the contract that matchers are stateless, which has been a fundamental assumption so far.

Second, I think this is highlighting a problem in your test design, namely that there's a timing element but that it's not explicit. It looks like you want something more like a "probe" which will determine what to observe as values change over t

[2018-12-19 09:20] tumbarumba commented on #224
Well, it's been 6 days, with no further reported issues. I'll update the docs to clarify the point about `org.hamcrest.Factory`. If there are no other concerns raised, I'm planning to release the final 2.1 version in the next few days.

[2018-12-21 13:00] tumbarumba commented on #224
Share and enjoy! Version 2.1 has been released!
* View the docs at http://hamcrest.org/JavaHamcrest/
* Update your dependencies as documented at http://hamcrest.org/JavaHamcrest/distributables
* Tell your friends and/or loved ones!

[2018-12-21 13:00] #224 closed

[2018-12-23 18:38] manueljordan opened #239 "Let Hamcrest compare a Date object against a Date String representation"
Hello Mancrest

For more details here:

* [Hamcrest: comparing Date against Date (String representation)](https://stackoverflow.com/questions/50080246/hamcrest-comparing-date-against-date-string-representation)

The point is have the following possible:

* `.andExpect(model().attribute("persona", hasProperty("fecha", is("08/12/1977"))))`
* `.andExpect(model().attribute("persona", hasProperty("fech

[2018-12-23 18:45] manueljordan opened #240 "Let Hamcrest compare a XML's node directly against a Java object"
Hello Hamcrest

For more details here:

* [Spring MVC Test with Hamcrest: How compare a XML's node directly against a Java object](https://stackoverflow.com/questions/39476751/spring-mvc-test-with-hamcrest-how-compare-a-xmls-node-directly-against-a-java)

The point is have the following:

* `.andExpect(xpath("collection/item[1]/*").how(is(personasArray[0])))`
* `.andExpect(xpath("collection/item[1

[2018-12-23 19:01] manueljordan opened #241 "Let Hamcrest test each POJO item of a collection (with dates) through a Tuple."
Hello Hamcrest

For more details:

* [AssertJ to Hamcrest equivalency (only for Spring MVC Test): How test each POJO item of a collection (with dates)](https://stackoverflow.com/questions/50081576/assertj-to-hamcrest-equivalency-only-for-spring-mvc-test-how-test-each-pojo-i)

If in `AssertJ` is possible do the following:

[code]
How would be possible do the same in `Hamcrest`?

* ` .andExpect(mode

[2018-12-23 20:32] manueljordan opened #242 "Let Hamcrest count and test the properties number/size of an object"
Hello Hamcrest

For more details:

* [Spring MVC Test with Hamcrest: how count and test the properties number/size of an object inside a Model](https://stackoverflow.com/questions/39354379/spring-mvc-test-with-hamcrest-how-count-and-test-the-properties-number-size-of)

Consider the scenario about have a `Person` class initially with 4 fields.

How test with `Hamcrest` to do an assertion about thes

[2018-12-23 21:24] manueljordan opened #243 "Let Hamcrest count and confirm the unique size of 1 for an object"
Hello Hamcrest

For more details:

* [Spring MVC Test with Hamcrest and JsonPath: How count the body size? (not count members)](https://stackoverflow.com/questions/39473631/spring-mvc-test-with-hamcrest-and-jsonpath-how-count-the-body-size-not-count)

The point is when a `GET` request is accomplished the result returns just one object, i.e a `Person` object represented how `JSON` data, where it do

[2018-12-24 18:03] garretwilson commented on #224
Thanks for everyone's work on this. I'll test things out. By coincidence the next lesson I'm teaching in my course is over unit testing, so I'll update the material to include Hamcrest 2.1.

I'm a little confused with the new public instructions. You make a point of saying to use `hamcrest-library` and to use it _before_ `junit`:

[code]

That will work, but it 1) introduces an unnecessary `hamcre

[2018-12-26 20:34] tumbarumba commented on #224
Hi @garretwilson, thanks for highlighting that. At the time I wrote that, I was thinking about other projects or libraries that had a dependency on `hamcrest-library-1.3.jar` (for example, any or the [related projects](http://hamcrest.org/JavaHamcrest/related) could be affected). I was trying to give some advice that would cover any project (not just ones that depend on JUnit 4), but this doesn't

[2018-12-26 20:44] tumbarumba commented on #187
Now that Hamcrest 2.1 is out (#224), does this solve this problem?

[2018-12-26 20:53] tumbarumba commented on #131
Thanks, Steve!

Well, #224 is done. I haven't really thought about the priority of other issues, or a roadmap. I see that that @sf105 has been applying the `Hamcrest future` label. There needs to be a discussion (on the mailing list, perhaps) about what the future of Hamcrest should be. However, there are always documentation updates and bug fixes. Pull requests are always appreciated!

I'm going

[2018-12-26 20:53] #131 closed

[2018-12-27 08:35] phoenix384 commented on #230
It's not a problem in the test design. It's a problem that is quite normal to Selenium tests.
And I don't want to observe anything changing over time - I don't want these "flickering" elements. It's OK that they cause a test failure, even if only occasionally. You can react to this, make it more stable, wait longer for the element to be ready, whatever.
But what I don't want is a matcher that anno

[2019-01-12 05:49] bubenheimer opened #246 "Do not bundle README.txt in class jars"
Both `hamcrest-core-2.1.jar` and `hamcrest-library-2.1.jar` contain `README.txt`, which prevents me from running Android tests due to a name clash.

[2019-01-15 10:09] lbenedetto commented on #246
I am having the same issue. Temporary workaround is to downgrade hamcrest back to 1.3
[code]

[2019-01-23 00:51] tumbarumba commented on #246
The README.txt is there to give people a hint that the jar is deprecated, and you should update your dependencies. Is there any reason why you can't remove the `hamcrest-core` and `hamcrest-library` dependencies, and replace them with `hamcrest-2.1.jar`?

[2019-01-23 01:37] bubenheimer commented on #246
The documentation says that both artifacts are required for compatibility with JUnit 4.12.

[2019-01-23 02:00] tumbarumba commented on #246
It's a bit more subtle than that. Neither `hamcrest-core` or `hamcrest-library` contain any classes. All the classes have moved into `hamcrest-2.1.jar`. The only reason `hamcrest-core` and `hamcrest-library` exist is to help with the version conflict resolution when upgrading, and provide a transitive dependency on `hamcrest-2.1.jar`. However, if these jars are causing you problems, you can simply

[2019-01-23 02:19] bubenheimer commented on #246
If I understand you correctly, you are saying that including hamcrest-core-2.1 and hamcrest-library-2.1 provides an automated version conflict resolution mechanism when using JUnit 4.12, and it is possible to achieve the same result by manually excluding specific dependencies in Gradle build files. Is that what you mean? It would seem appropriate to actually make the automated mechanism work, inst

[2019-01-23 05:17] tumbarumba commented on #246
The version conflict resolution mechanism is working, and correctly pulling in all the dependencies. However, you appear to be doing something with all the dependencies that breaks your build. There's a long stack trace above which seems to imply that the build is trying to merge all the dependant jars into a single file, and hence getting the conflict. Is that correct? What is the merge for? Can

[2019-01-23 05:31] bubenheimer commented on #246
The tool that is doing the merge is D8, it's a non-optional Android build tool. All Gradle builds of Android apps using hamcrest 2.1 and JUnit 4.12 with the suggested conflict resolution mechanism are bound to fail.

[2019-01-23 06:01] tumbarumba commented on #246
I'm curious to see what this looks like. Can you point me towards and example?

[2019-01-23 08:50] tumbarumba commented on #246
From what I understand, having the a file with the same name in both jars will always be a problem. I've just pushed a commit which will give the files different names, and hopefully resolve this issue (after the next release, of course)

[2019-01-23 17:47] rdp commented on #36
For followers, confirm there is a `MatchesPattern.matchesPattern` in 2.1, thank you!

[2019-01-23 22:02] bubenheimer commented on #246
I built and tested a snapshot and can confirm that this change resolved the issue.

[2019-01-24 01:55] tumbarumba commented on #246
Thanks for confirming, @bubenheimer. I've just updated the CHANGES.md, so I'll close this issue now.

[2019-01-24 01:55] #246 closed

[2019-02-02 12:22] #243 closed, assigned to nobody

[2019-02-02 12:38] tumbarumba commented on #241
AssertJ has it's own implementation of Tuples. Although it would be nice, I'm not aware of anyone working on something like this for Hamcrest. I'm inclined to close this issue, unless someone wants to volunteer to write such an implementation. I'll leave this open for just a little bit longer, in case someone wants to comment further.

[2019-02-02 12:46] tumbarumba commented on #240
Your example is not Hamcrest, but appears to be part of Spring MVC Test

[2019-02-02 12:46] #240 closed

[2019-02-02 12:49] tumbarumba commented on #239
Hamcrest does not parse or serialise dates. Perhaps the Hamcrest Date library (on the [Related Projects](http://hamcrest.org/JavaHamcrest/related) page) would be useful?

[2019-02-02 12:49] #239 closed

[2019-02-03 14:33] manueljordan commented on #241
I understand the situation. Thank you

[2019-02-06 00:47] #187 closed

[2019-02-14 14:54] wjtlopez commented on #220
@tusharjoshi All we are doing is triggering a response from an API which has a field called `id`, represented in Java by a `Long`. It doesn't seem possible to use the equalTo matcher as hopefully depicted in the initial post.

Please let me know if this remains unclear

[2019-02-14 16:47] tusharjoshi commented on #220
@wjtlopez from your description and code snippet the issue does not seem to be with the hamcrest matcher but with the API you are using.  Is there any way you can provide a working code snippet which I can run and check the error.   A sample project on github may be using the about mention API only.  If we can reproduce the issue then working on the fix if any becomes easier.

[2019-02-25 16:25] Gnurfos opened #248 "containsInAnyOrder can depend on order"
The algorithm goes like: for each item, try each matcher in the given order and consume the first one that matches.

This causes the following test to fail:

[code]

The doc says:

So that could explain it, but it's still surprising for the user.

[2019-03-02 03:35] arifogel commented on #83
What exactly will be done with this issue? It looks like the current source has the `@SafeVarargs` annotation:
https://github.com/hamcrest/JavaHamcrest/blob/master/hamcrest/src/main/java/org/hamcrest/Matchers.java#L886
Will there ever be another release with this change?
Isn't this issue technically resolved (but not by the original milestone)?

[2019-03-03 17:33] Andremoniy opened #249 "IsUnmodifiable matcher feature"
It would be nice to have as a standard feature a special matcher to verify that a given collection is unmodifiable.

This sort of checks raises when we test certain type of methods which should return unmodifiable implementation rather than regular one.

[2019-03-08 16:08] filippor commented on #241
My solution

[code]

[code]

[2019-03-22 09:42] nibsi opened #252 "Generic type bounds of IsIterableContaining are inconsistent with those of IsMapContaining"
Hello all! Thanks a lot for the new Hamcrest 2.1 library, it's a pleasure to work with and I can also use it easily in my Java 9 modules.

The `IsIterableContaining` matcher extends `TypeSafeDiagnosingMatcher<Iterable<? super T>>`. I understand that the goal is to, for instance, match a `Set<Number>` when it has an `Integer`.

Why then does `IsMapContaining` extend `TypeSafeMatcher<Map<? extends K

[2019-03-22 09:46] Nibsi commented on #172
Same problem with `IsIterableContaining.hasItem(T item)`. Instead of wrapping the element in an `equalTo()` matcher, it could check if the iterable is a `Collection` and use the `Collection.contains()` method, or use a separate `IsCollectionContaining` matcher that only accepts `Collection` types and then also performs the test using the `Collection.contains()` method.

[2019-04-03 11:11] tumbarumba commented on #172
I just had a look at implementation of [`IsMapContaining.hasKey(K key)`](https://github.com/hamcrest/JavaHamcrest/blob/master/hamcrest/src/main/java/org/hamcrest/collection/IsMapContaining.java#L100). I get the impression that the current implementation is the way it is because of simplicity and consistency. That method has the same structure as every other method in the `IsMapContaining` class. T

[2019-04-03 11:22] tumbarumba commented on #252
Writing library code with Java generics is a bit like (╯ರ ~ ರ）╯︵ ┻━┻

Perhaps @sf105 might have some insights as to how the current implementation came to be the way it is?

[2019-04-03 12:38] Nibsi commented on #172
Not as of yet, I have to admit.

However, I have written a library that relies heavily on Hamcrest that validates method preconditions and I can foresee that some methods accepting maps or collections may be inside heavily used loops.

Normally, such an algorithm would operate in linear time when using hash maps or hash sets, but with the current implementation of these matchers such an algorithm

[2019-04-03 14:03] Nibsi commented on #252
[code]
I think this makes sense: Why would I want to check if a collection of some specific type contains some less specific type? Usually I already know the actual runtime type of the value I use to create the matcher with, because I create it myself, whereas the collection being examined is passed in and could be anything.

The same is true for maps. Therefore I would propose to make the `hasKey

[2019-04-04 04:57] tumbarumba commented on #172
Understood. Are you able to submit a PR?

[2019-04-04 06:00] Nibsi commented on #172
Sure. I can probably have it up Friday or Monday evening.

[2019-04-17 20:53] jamesmudd opened #254 "AssertionError message is unhelpful when match fails for byte type"
Here is an example of a JUnit 5 test displaying this issue:
[code]
From `testShort` the error message is good: (Note: <5**s**>)
[code]
But from `testByte` you get:
[code]
Which looks ok `<5>` is `<5>`! Of course the reason the failed is the types are mismatched so the failure is correct, but it would be good to show this more clearly in the message.

[2019-04-23 13:54] phoenix384 opened #256 "Matchers.anyOf: inference variable has incompatible bounds with Java >8"
The following code sample works with OpenJDK 8 but does not compile with OpenJDK 11:
[code]

Compiling with Java 11 fails with
[code]

If the first argument of the Matchers.anyOf methods would be changed from Matcher<T> to Matcher<? super T> (like in Matchers.allOf), it would work.

[2019-05-05 17:14] berolinux commented on #256
Even after applying https://github.com/hamcrest/JavaHamcrest/pull/257, building hamcrest with OpenJDK 12.0.1 fails with

[code]

[2019-05-07 13:14] phoenix384 commented on #256
The intention was to make it possible to _use_ anyOf from Java 11 code and not to make Hamcrest compilable with Java 11.
Moreover these errors do not relate to the code I changed.
Either way, my PR is an improvement, since now the method signature is the same as in allOf.

[2019-05-07 23:19] #256 closed

[2019-05-16 04:30] #254 closed

[2019-05-22 19:13] philwebb opened #259 "Provide back compatible StringContains constructors"
Commit 639b99e58221ea4bc6fb914cab021e8e39e88259 changed the public constructors of `StringContains` `StringEndsWith` and `StringStartsWith` so that they now required an `ignoreCase` flag. This unfortunately can break anyone that happens to be calling those constructors directly rather than using the static factory methods.

Could additional constructors please be provided alongside the new ones so

[2019-05-22 19:14] philwebb commented on #259
For background, here's an example of a problem cause by the change: https://github.com/spring-projects/spring-boot/issues/15555#issuecomment-494889027

[2019-05-27 10:14] tumbarumba commented on #259
Thanks @philwebb. I've just committed 86043c63cf6120e68895037b5213ac1f28e8df35. Does this fix the problem?

[2019-05-27 10:48] sbrannen commented on #259
@tumbarumba, I don't see a milestone assigned to this issue.

Do you have an idea when this might be released?

[2019-05-28 18:04] philwebb commented on #259
@tumbarumba Looks good to me. Thanks for the fast turnaround!

[2019-05-29 04:18] tumbarumba commented on #259
@sbrannen, we don't have a release planned, but having said that, there's been a few [bug-fixes](https://github.com/hamcrest/JavaHamcrest/blob/master/CHANGES.md) merged over the last few months, so I think it's worth pushing out a new release candidate. I'll make some time this weekend.

[2019-05-29 10:34] sbrannen commented on #259
@tumbarumba, a bug fix release would be great! Thanks

[2019-06-11 11:03] stsypanov opened #262 "Make console output more readable in case of discrepancy"
Console output in IDEA could be slightly improved by adding a whitespace. Currently when comapring two strings we have:
[code]
if we add a whitespace into [description of Is](https://github.com/hamcrest/JavaHamcrest/blob/86043c63cf6120e68895037b5213ac1f28e8df35/hamcrest/src/main/java/org/hamcrest/core/Is.java#L30) then we'll have more readable output:
[code]

[2019-06-18 13:24] bubenheimer commented on #246
Just FYI: as of right now I am able to build with the original hamcrest 2.1 artifacts again. I suspect Google changed the behavior of the D8 tool, but it could be a temporary fluke in my build process.

[2019-06-20 14:13] lbenedetto commented on #246
Not working for me with D8
[code]

[2019-06-20 14:38] bubenheimer commented on #246
Did you use the latest D8, though? I'm on AS 3.6 Canary 3

[2019-06-29 21:40] vlsi opened #264 "Please add LICENSE as META-INF/LICENSE, add Bundle-License header"
1) Thanks for Hamcrest

2) Current hamcrest.jar are hard to bundle into other software due to missing licensing information.

Suggested changes are:

2.1) Package license as `META-INF/LICENSE`. Current one is `LICENSE.txt`, and de-facto standard is `META-INF/LICENSE`. The license files packaged at the root cause problems with Android.
Basically whoever makes an uberjar they have to implement "lice

[2019-07-01 10:13] phoenix384 opened #265 "Collection matchers cannot take a collection of elements"
The matchers IsIterableContaining, IsIterableContainingInRelativeOrder, IsIterableContainingInOrder and IsIterableContainingInAnyOrder all have methods accepting
1) further matchers as a varargs parameter
2) a collection of matchers
3) expected elements as a varargs parameter

They are all missing a method taking the expected elements as a Collection<E> or Iterable<E>.
If you already have a list o

[2019-08-07 11:44] wlei07 commented on #114
I would say it is better to remove junk generic <T> from BaseMatcher<T>, as it is not used and type safe anyway.

[2019-08-19 10:20] shs96c opened #269 "`hamcrest-core` and `hamcrest-library` are split packages"
It's great that these hamcrest jars (at version 1.3, which is what junit 4.12 depends on) declare an automatic module name so that they can be used with the JPMS, but there's a problem --- they create a "split package" since they both try and export classes in `org.hamcrest` This causes any java 9 modular build that includes both libraries to fail.

This can be fixed by making sure that all the cl

[2019-08-19 23:49] tumbarumba commented on #269
Thanks for raising this issue, @shs96c. i'm not a heavy user of Java 9, so I'm not sure: is this still a problem with Hamcrest 2.1?

Hamcrest 2.1 was released as 3 jars: `hamcrest-2.1.jar` (now contains all the code), `hamcrest-core-2.1.jar` and `hamcrest-library-2.1.jar` (both empty shims to allow transitive depenencies to find `hamcrest-2.1.jar`). All 3 jars specify `'Automatic-Module-Name': 'or

[2019-08-20 13:01] shs96c commented on #269
I don't think that'll work. The JPMS uses the module name to look up the jar to use, so if multiple jars share the same name there's some distinctly undefined behaviour. Having the `core` and `library` jars be empty should be fine, however.

I've bumped my hamcrest to 2.1, dropped the `core` and `library` deps, and (after losing `@Factory` and fixing up code to pretend it never happened) everythin

[2019-08-20 16:08] sf105 commented on #269
Frankly, we’re so strapped for effort that we’ll take whatever contributions we can. The hope was to do a serious rethink with Java closures, but that never happened.

S

[2019-08-20 21:21] tumbarumba commented on #269
If we modified the jars so that they had different values in `Automatic-Module-Name`, such as `org.hamcrest`, `org.hamcrest.core` and `org.hamcrest.library`, would that solve the issue? Would that cause other problems?

I should sit down and create a code sample to test this out.

[2019-08-20 22:14] shs96c commented on #269
That should work, as the jars are just empty.

Sent from my iPhone

[2019-08-24 16:39] tumbarumba commented on #269
I was able to reproduce this problem at https://github.com/tumbarumba/hamcrest-test-harness, and tested out the fix in PR #270, which Worked for Me&trade;. Closing this issue on that basis.

[2019-08-24 16:39] #269 closed

[2019-08-25 23:20] tumbarumba commented on #265
I haven't checked, but I would guess that since the generic types are stripped from the compiled code, then the Java runtime would not be able to differentiate a parameter of `Collection<T>` from `Collection<Matcher<T>>`.

[2019-08-25 23:22] tumbarumba commented on #264
This seems like a reasonable improvement. Are you able to create a pull request with these changes?

[2019-08-25 23:50] tumbarumba commented on #262
I'm reluctant to make this change, as it seems very brittle (e.g. using the `Is` matcher versus not), as well as IntelliJ already seems to have handled this case. For example, given these tests:

[code]
Here's the output I see in IntelliJ:

[code]

That is, IntelliJ is already addressing lining up the expected and actual.

[2019-08-25 23:50] #262 closed

[2019-08-26 14:45] sf105 commented on #265
The API is a bit of a mess and one of the things that contributes to that is Java's brittle type system. Things that involve two levels of generic <ListOf<Thing>> cost me a year of my life.

[2019-09-04 10:09] Lyannic opened #272 "Wrong javadoc for stringContainsInOrder"
The javadoc for the stringContainsInOrder Matcher (http://hamcrest.org/JavaHamcrest/javadoc/1.3/org/hamcrest/Matchers.html#stringContainsInOrder(java.lang.Iterable))
states the following:
"Creates a matcher of String that matches when the examined string contains all of the specified substrings, **regardless of the order of their appearance**."
But for me the name and also the functionality indica

[2019-09-05 08:08] tumbarumba commented on #272
Hi @Lyannic, you have linked to the old version of the JavaDoc (1.3). The latest version (2.1) has been update: http://hamcrest.org/JavaHamcrest/javadoc/2.1/org/hamcrest/Matchers.html#stringContainsInOrder-java.lang.Iterable-

[2019-09-05 08:08] #272 closed

[2019-09-05 19:31] tumbarumba opened #273 "Release Hamcrest 2.2"
I'm preparing to release Hamcrest 2.2.

This issue is to capture any problems with the release candidates, and to discuss any changes that need to be made.

[2019-09-05 19:34] tumbarumba commented on #273
I've tagged and published the first release candidate: [hamcrest-java-2.2-rc1](https://github.com/hamcrest/JavaHamcrest/releases/tag/v2.2-rc1). This is now available on Maven Central.

Please test this candidate and report any problems.

[2019-09-28 14:01] vlsi opened #274 "Please publish the list of the official release PGP keys"
The idea is project page should provide clear steps to verify if the release is official.
I'm afraid I've no standard way of doing that, however, it would be nice if you could mention the official PGP key ids in the Download section.

Note: current hamcrest.org website is not available via HTTPS, so either HTTPS should be enabled first or KEYS file should be published to GitHub repository.

See al

[2019-10-14 02:08] quaff commented on #273
When?

[2019-10-16 21:36] tumbarumba commented on #273
Now.

2.2 is now available from your favourite Maven Central mirror.

[2019-10-16 21:36] #273 closed

[2019-10-18 14:05] vlsi commented on #172
@Nibsi , it looks like I'm bitten with the same issue. Have you had a chance to optimize `org.hamcrest.collection.IsMapContaining#matchesSafely` ?

[2019-10-21 22:19] cable729 opened #276 "Is there a type-safe matcher creator method that allows creation by lambda?"
I wrote the following, that I haven't seen anywhere else. I think it would be a good addition to Hamcrest. Usage is something like `matcher("nonempty string", s -> s.length() > 0)`. This also Kotlin-friendly because the lambda is the last parameter. Usage in Kotlin would be something like `matcher("nonempty string") { it.length() > 0 }`. Here's the code:

[code]

[2019-10-25 08:58] Nibsi commented on #172
@tumbarumba @vlsi sorry guys, I completely got sidetracked. Thanks for the reminder. I'm busy over the weekend, but I'll definitely hop to it the coming week. Stay tuned.

[2019-10-25 09:21] Nibsi commented on #276
Seconded. I already have a method like this in a library I wrote. It looks like this:
[code]
It appears my implementation is almost identical to that of @cable729, leading me to believe this would be a good addition to Hamcrest.

The fact that I used an anonymous class instead of a nested class is a matter of taste. The method name and documentation follows conventions in my project, and can be ad

[2019-10-25 09:35] Nibsi commented on #241
Adding tuples is a bad idea. Tuples are weakly typed heterogeneous containers that make their contents accessible through poorly named members such as `item1` and `item2` etc.

@manueljordan Just create your own strongly typed objects that encapsulate the properties you want to match and then compare the two objects with the `is()` matcher. I am actually surprised that you don't already have a `Pe

[2019-10-25 18:31] manueljordan commented on #241
Hello @Nibsi

Yes, I have the `Person` class involved, but in testing is more clearer work with `Tuples` because you can see directly at a first glance what you are asserting/testing/comparing

[2019-10-28 12:08] Nibsi commented on #241
@manueljordan and you don't have a constructor or factory method in `Person` that does something similar to the `tuple()` method except it returns a `Person`?

[2019-10-28 14:21] manueljordan commented on #241
@Nibsi Like I said I want see the data to be compared directly:

[code]

Even when could be verbose until some point, is good for testing purposes.

[2019-10-28 15:46] Nibsi commented on #241
@manueljordan

`assertThat(data, is(Person.of("087", "Peter", "Jordani", parse("1980-01-01"))));`

[2019-10-30 12:37] manueljordan commented on #241
I see now, with Snippet code all go better, thanks!

Not sure if Hamcrest support that to be adapted to check collection's items.

[2019-11-18 15:42] Blackwolf291 commented on #276
My only issue with this method is that it does not provide for specifying a mismatch. if that is not a concern in your project I can see how this would be very useful.

[2019-11-19 17:08] panchenko commented on #202
I would sugesst https://github.com/awaitility/awaitility for this.

[2019-11-29 17:09] anma commented on #143
Due to the signature of this method, it can currently only be used if every bean on the path is of the same type `T`. Similar to

    public static <T> Matcher<T> hasProperty(String propertyName, Matcher<?> valueMatcher)

it should rather look like this (or use the iterator, if you insist):

    @SuppressWarnings("unchecked")
    public static <T> Matcher<T> hasPropertyPath(String path, Matcher<?>

[2019-12-01 15:36] garretwilson commented on #209
I just had the same idea this week. I'm writing an XML/HTML formatter, and I have a reasonably large HTML document of what I expect in a unit test. Using a similar approach as TDD, I set up the unit test before the formatter is fully complete, and I need to know which items the formatter needs work on.

Currently I'm placing the expected document and a `System.out.prinln()` of the formatted output

[2019-12-05 14:11] danbravo opened #278 "everyItem(equalTo()) passes on empty array"
The CoreMatchers `everyItem(equalTo("value1"))` doesn't fail if response body is empty array.
For example:
`getRequest().then().body("p1", everyItem(equalTo("value1")))` passes for body:
[code]
but same request also passes for body with empty array:
`[]`

Using Hamcrest 2.1 and Java 8

[2019-12-17 14:39] osyanin opened #279 "Matcher: greaterThan flacky"
[code]

Actual balance is: 7603.5911
Assert should be False and describe why, but it not fails.
But if I change "100000000000.0000" to "99999999999999999999999999999999999999999999999999999.0000" it now will fail with proper message.

[2019-12-23 14:13] dmitry-timofeev opened #280 "TLS is misconfigured on the site"
HTTP over TLS seems to be misconfigured on the hamcrest.org web site.

How to reproduce: go to https://hamcrest.org/JavaHamcrest/

Actual result: SSL_ERROR_BAD_CERT_DOMAIN

Expected: site loads correctly over https.

[2020-01-03 03:31] tumbarumba commented on #280
@hamcrest/hamcrest-java-devs: this looks like a misconfiguration in https://github.com/hamcrest/hamcrest.github.com

I don't have full access to that repo, so I can't see the settings. Can someone with access have a look?

[2020-01-06 03:43] Woodz opened #281 "Add matcher for file contents"
It would be very useful to add a Hamcrest matched to FileMatchers that allows comparison of file contents, instead of separately validating that the file exists, is readable and then manually reading the file contents before comparing.

[2020-01-22 06:39] micheal-hill commented on #27
`hamcrest:2.1` has this problem...

[2020-02-15 03:27] jandersson-svt opened #283 "Invalid SCM connection URL in build.gradle"
The "connection" should be an URL valid for read-only access and has to follow
the syntax as described at https://maven.apache.org/pom.html#SCM.

I.e an scm:prefix is missing.

[2020-03-04 11:44] jamesmudd opened #284 "Map hasEntry combined with collection matcher seems to fail incorrrectly"
Here is some example code showing what I think is a bug
[code]
The assert fails with the output
[code]
 But `key` is mapped to a "not empty collection"? So I think it should pass.

[2020-03-04 11:50] jamesmudd commented on #284
Note on Java 11 with Hamcrest 2.1

[2020-03-04 11:53] nhojpatrick commented on #284
Can you test with hamcrest v2.2

[2020-03-04 11:56] nhojpatrick commented on #284
Your saying Java 11, are you aware if it works on another Java version?

[2020-03-04 12:38] jamesmudd commented on #284
Its exactly the same issue on Java 11 with Hamcrest v2.2 and on Java 8 with Hamcrest v2.2

[2020-03-04 14:01] nhojpatrick commented on #284
Can you try the following and see if it works for you `hasEntry(equalTo("key"), not(empty()))`.

The method `hasEntry(K, V)` assumes your giving literal Key and Value parameters. So it takes your `not(empty())` and assumes it's a value, and instantly wraps it as `equalTo(not(empty()))`.

The other method `hasEntry(Matcher<K>, Matcher<V>)` works for me as it takes matchers for both Key and Value. W

[2020-03-04 14:47] jamesmudd commented on #284
Yes that works. Ok so what would be needed for this is 2 extra signatures for `hasEntry`
- `hasEntry(K key, Matcher<? super V> valueMatcher)`
- `hasEntry(Matcher<? super K> keyMatcher, V value)`
If you think that would be an acceptable solution I can look at making a PR? I think it would be a nice feature.

[2020-03-04 19:05] nhojpatrick commented on #284
It would make sense to overload `org.hamcrest.collection.IsMapContaining.hasEntry` to have those signatures you have listed.

[2020-03-04 19:29] nhojpatrick commented on #279
the variable `balanceCurrency` is a `java.lang.String`, hamcrest does not magically covert strings that look like numbers.

You'll need to change it to a Float or Double depending what range and precision you need for this field.
`
Double balanceCurrency = Double.valueOf("7603.5911");
        assertThat("Balance in not enough: ", balanceCurrency, is(greaterThan(Double.valueOf("100000000000.0000"))

[2020-03-04 19:31] nhojpatrick commented on #278
Is body a method or framework you have created yourself? Do you have a test case using standard java classes?

[2020-03-04 20:34] nhojpatrick commented on #283
merged, will be in 2.3 once released

[2020-03-04 20:34] #283 closed

[2020-03-04 22:28] sf105 commented on #284
Please be careful with this. Things get hard to predict with this level of overloading. It's easy to end up trying to do equals() on a matcher object. Perhaps a better option would be both matchers?

[2020-03-05 09:20] jandersson-svt commented on #283
Thanks!

[2020-03-12 05:01] trejkaz commented on #152
I believe this is the issue I'm seeing? My test case:

[code]

[2020-03-19 10:41] shalak opened #288 "AllOf matches adds misleading descrtibeTo to mistmach description"
Hi!

Let's say I have a custom `isOpened()` matcher that checks if a page has been opened. It has the following methods:
[code]

When I'm using this matcher standalone and it asserts, here's what I see:
[code]
This is great and informative. Unfortunately, when I use my matcher as part of `allOf()`, here's what I see:
[code]
Notice the "Page is opened" within the "but" section. The `AllOf` matcher

[2020-03-21 01:48] Tikani opened #289 "Matchers.everyItem() has incorrect covariance in return type in hamcrest 2.2"
Environment: **Java 11**, **hamcrest 2.2**
Due to strange signature of **everyItem()**:
 ` public static <U> org.hamcrest.Matcher<java.lang.Iterable<? extends U>> everyItem(org.hamcrest.Matcher<U> itemMatcher)`
it can't be combined with other matchers in **allOf()** methods: `allOf(iterableWithSize(5), everyItem(displayed()))` results in
`Error:(109,28) java: no suitable method found for allOf(org

[2020-03-26 13:57] 62mkv commented on #276
has this received any attention from maintainers? here's another variation of the same theme, and, just as commenters under that page, I am a bit surprised that `hamcrest` does not provide for this out of the box.. http://tadams289.blogspot.com/2014/04/hamcrest-matching-with-lambdas.html (NB: the linked page is from 2014!!)

[2020-03-26 14:16] nhojpatrick commented on #276
At the moment, nope, i'm still trying to fully understand the internals in my spare time. I'm able to merge but I'm unsure who owns the domain name and who has the accounts/keys for a release so even if i approved and merged, i wouldn't be able to do a release...

[2020-04-06 11:34] parameshjava commented on #36
There is no such method, can you please let me know which version hamcrest you are refering?

[2020-04-12 15:36] brownian-motion commented on #248
This seems like greedy consumption of elements. It could be addressed by backtracking, but I'm not sure what the performance of that would be like, and it would certainly break that contract

[2020-04-13 04:20] brownian-motion commented on #210
Hi @BrynCooke , that does seem like a significant barrier to running tests remotely. That class is part of the `junit` repository - would you please consider opening this issue there instead?

https://github.com/junit-team/junit5/

[2020-04-13 04:53] brownian-motion commented on #172
I know this issue is old, but I went ahead and prepared a Pull Request that implements this proposed optimization. @tumbarumba and @nibsi, would you mind looking at this change if you have some time, please?

[2020-04-17 14:46] alb-i986 opened #293 "Duplicate regex Matcher"
Hi,

First of all, thanks for bringing this project back to life.

If I'm not mistaken there's a duplication in the regex matchers:
- MatchesPattern
- StringRegularExpression

There were none for such a long time and now there's two LOL
I'm not complaining huh, but I think it would be wise to leave only one ;)

Cheers

[2020-04-19 13:02] alb-i986 opened #295 "Introduce a coherent Code style"
While working on #294 I noticed there's a bit of a mess from a code style point of view.
See e.g. IsCollectionWithSize: there's a mix of tabs with 2 spaces and others with 4 spaces.

[2020-04-19 14:31] sf105 commented on #295
That's unfortunate. My preference is for 2 spaces (I like to conserve horizontal line space). This is not just the thing about initial indentation vs further indentation?

[2020-04-19 14:35] sf105 commented on #248
This is a good point. I expect someone out there has a clever algorithmic solution...

[2020-04-19 14:43] Gnurfos commented on #248
I don't know if it is clever, but there is a pull request with some (rather naive) algorithm.

[2020-04-20 01:50] brownian-motion commented on #181
I'm not certain what caused this problem for OP, but I can't reproduce this error.

@kmbyrne I know it's been 3 years, but can you provide any further details about what the unexpected error message said when you encountered this?

[2020-04-20 02:08] brownian-motion commented on #201
It's hard for me to tell, but it looks like this is happening because java can't figure out the generic types. If I change the last line to:

`assertThat("empty and non-empty mixed, using empty()",listOfLists,contains(Matchers.<Foo>empty(),Matchers.<Foo>contains(foo)));`

Then the test passes. My IDE suggests that it may be the generic type on empty() that is the main culprit. When I remove the ex

[2020-04-20 02:54] brownian-motion commented on #295
If it is simply an indentation concern, then I think it's straightforward to address that using CheckStyle to assist with a consistent code style. I've opened up a PR which adds such a rule.

[2020-04-20 06:56] alb-i986 commented on #295
Yes, thanks @brownian-motion, that's what I meant.
Shall we go a little further and provide a code style settings so that everyone is on the same page and up & running in few secs?

[2020-04-20 19:03] jet11x opened #298 "New Number match for equivalence"
I've found code easier to read and more functional when moving from assertEquals to the Hamcrest matchers.  However, I've found it a pain have to make sure the types of primatives are the same given the matchers require Objects.

I've written a small matcher I've called IsNumberEquiv with a static check called equivTo which passes if values are numerically the same.

I've written a reasonable init

[2020-04-21 02:19] brownian-motion commented on #295
I like this idea, but I'm only familiar with a small set of style settings. I know IntelliJ can import code style from CheckStyle, can Eclipse or other IDEs do the same? If all can, it may be simple enough to define a CheckStyle file.

[2020-04-22 12:14] tumbarumba commented on #259
Just noticed I didn't closed this last year. It was fixed in release 2.2.

[2020-04-22 12:14] #259 closed

[2020-04-22 12:41] tumbarumba commented on #278
The current implement is worked as intended. There is an [explicit test for this case](https://github.com/hamcrest/JavaHamcrest/blob/master/hamcrest/src/test/java/org/hamcrest/core/EveryTest.java#L31). I believe the logic is that if there's nothing in the test in the collection, then there's nothing to fail.

[2020-04-22 12:41] #278 closed

[2020-04-22 16:04] alb-i986 commented on #295
I don't know, but if we want to keep it simple, we may just use Google's styles: they are using 2 spaces anyways.
https://github.com/google/styleguide
They provide both for Eclipse and Intellij.

[2020-04-24 00:03] Tikani commented on #289
Any news here? Is the project dead?

[2020-04-28 11:15] tumbarumba commented on #289
Hi @Tikani, the project is still alive. I'm afraid the last few months have been quite overwhelming for me personally, so I haven't had much time to look at this. I should be able to make some time this week, though.

[2020-04-28 12:29] tumbarumba commented on #289
Hmm... looking closer at this issue: the change was introduced in issue #40, with the justification that it followed the [Guidelines for Wildcard Use](https://docs.oracle.com/javase/tutorial/java/generics/wildcardGuidelines.html).

Looking at the example you provided, it appears the compiler doesn't have enough information to infer the correct type for the first argument to `everyItem`. If you hel

[2020-04-28 17:41] Tikani commented on #289
@tumbarumba i think who claimed this change as complying to the Java wildcard usage guidelines made a mistake. Wildcards should only be used as method's generic parameters enrichers (following "producer extends, consumer super" semantics) to provide more flexible API. "Wildcarded" return type should be avoided in general (especially, return types with bounds). [Guidelines for Wildcard Use](https:/

[2020-04-30 20:27] Rhobal opened #299 "Create assertThat with reason supplier to defer calculation of reason"
The reason is only required when an assertion fails. If a Supplier could be provided instead of a String, an expensive or destructive construction of a reason (such as reading an InputStream) could be deferred.
Example code:
[code]

[2020-04-30 20:37] Rhobal opened #300 "Request: Lambda Matcher"
Create a matcher that takes a lambda as type safe replacement of `Matchers.hasProperty(propertyName, valueMatcher)`

Sample code:
[code]

Usage:
[code]

[2020-05-01 13:28] tumbarumba commented on #289
Yeah, reading that page more carefully, it explicitly says:

I tried reverting #40 in my local workspace. Annoyingly, the problem with the failing type inference in `allOf` persisted. That is, I changed `Every.everyItem` back to this:

[code]

Even with that change, I still get the same error for this test:

[code]

I'm scratching my head at this one at the moment. It appears `everyItem` is workin

[2020-05-01 13:38] tumbarumba commented on #300
I'd love to get better support for lamdas and other Java 8 features into Hamcrest.

At the moment, Hamcrest 1.x works with Java 5 and greater, Hamcrest 2.x works with Java 7 and greater. For this feature, we'd have to increase the minimum supported version to Java 8.

Issues #206 and #207 discuss various ways we might go about doing that, though we haven't made much progress against those issues y

[2020-05-01 13:46] tumbarumba commented on #299
This seems like a reasonable improvement, though issues #206 and #207 will have to be resolved first, as `Supplier` is a 1.8 functional interface.

[2020-05-01 14:01] tumbarumba commented on #298
Can you show some sample code that demonstrates the problem?

I'd be curious to see your `IsNumberEquiv`. Feel free to raise a PR, if you're keen.

[2020-05-01 15:06] tumbarumba commented on #201
I agree with @brownian-motion, the test works for me if I include the explicit types (which is ugly). I'm afraid I don't have any better advice than to swear at the Java generics implementation right now :-(

[2020-05-02 05:46] Tikani commented on #289
@tumbarumba methods, that have generics in return types only, behave very bad with implicit type inference (iterableWithSize is an example). They are constrained only by the destination (target) type, i.e. in a very weak fashion and if target type represents not a single type, but a (sub-)set via **extends**/**super** wildcard, here we go with explicit generic declaration crutches to satisfy the c

[2020-05-02 14:31] thigg opened #301 "Casted Type should not matter for containsInAnyOrder"
Regard following Example:

    @Test
    public void hamcrestTest(){
        String[] truth = new String[] {"1","2"};
        assertThat(Arrays.asList("1","2"),Matchers.containsInAnyOrder(truth));
        Object otherTruth = truth;
        assertThat(Arrays.asList("1","2"),Matchers.containsInAnyOrder(otherTruth));
    }

Result:
[code]

The first assert is successfull the second isn't.
This leads

[2020-05-04 12:05] martijintro opened #302 "where can i download jar?"
where can i download jar?

[2020-05-04 14:53] nhojpatrick commented on #302
available via most dependency management tools using the GAV (GroupdId
ArtifactId Version);
G: org.hamcrest
A: hamcrest
V: 2.2

or download manually the maven repository;
https://search.maven.org/artifact/org.hamcrest/hamcrest/2.2/jar

95% of all projects use a build tool and don't manually download jars, i
think 60% use maven, 30% use gradle, 5% use other tools and 5% do it
manually. stats from t

[2020-05-04 14:58] nhojpatrick commented on #301
@thigg please retest with org.hamcrest:hamcrest:2.2 as we have no plans to do any 1.x releases.

[2020-05-05 07:44] martijintro commented on #302
thx!! :-)

[2020-05-05 07:44] martijintro commented on #302
closed

[2020-05-05 07:44] #302 closed

[2020-05-05 09:52] thigg commented on #301
Still valid in 2.2. Confirmed correct version via:

[code]
(confirmed with dependency:tree)

and `  new AnyOf<>(null, null);` which is a 2.2 feature according to https://github.com/hamcrest/JavaHamcrest/pull/245

[2020-05-17 10:39] DemianTinkiel commented on #300
Couldn't this be done via an extension? That would also alleviate some of the issues raised in #206  and #207 -> each extension can have their own minimal JDK version

[2020-06-15 19:00] schernov-xo commented on #207
@sf105 @tumbarumba these people can still use java 7 compatible old versions. What you probably do not see is that java 8+ based projects use hamcrest 1.3 + 3rd party extensions or own matchers libraries. E.g. mine `MoreMatchers` class has about 10 new methods. It's a nice coding exercise, but I'd prefer to take it from the standard lib.

Also I still do not understand your argument. What is the p

[2020-06-17 21:55] nhojpatrick commented on #207
I am a person that was until recently still developing a Java 1.6 application, it was finally upgraded to Java 1.8. But the code changes were minor upgrades and patches.

I accepted that the project would be left behind as we are running on out of support java and frameworks. Also we would not be actively looking at new features from frameworks, we would be using new features as use cases as suppo

[2020-06-18 03:21] matheusdallrosa commented on #220
I know exactly what @wjtlopez  means. I just had the exactly same problem. The JSON syntax [JSON syntax ](https://www.json.org/json-en.html) does not differ long from integers, for the JSON syntax both int and long are just an integer number. So take in consideration the following JSON:

`
{
  "id": 12
}
`

A library deserializing the above JSON will create a Integer object to hold the value. But

[2020-06-28 16:25] ProYI commented on #27
junit:4.13 depend on hamcrest-core:1.3 also has this problem

[2020-06-28 22:27] nhojpatrick commented on #27
does `org:hamcrest:hamcrest:2.2` have the problem?

[2020-06-28 22:29] nhojpatrick commented on #27
feel free to raise PR with junit so v4.14 could be upgrade to the latest version, that being currently `org:hamcrest:hamcrest:2.2`

v1.x is dead and out of support
v2.x i'm still trying to learn the guts and help with patches... so semi in support

[2020-07-28 18:04] tingtron commented on #293
More specifically, there are two ways to match regex in test code:
1.  org.hamcrest.Matchers.matchesRegex(regexString)
2. org.hamcrest.text.MatchesPattern.matchesPattern(regexString)

They are semantically the same, and mostly similar in implementation.

[2020-08-06 21:29] nhojpatrick commented on #293
Yes the classes do appear to be duplicates and cover very similar functionaility;

`org.hamcrest.Matchers.matchesRegex(String)` basically calls out to `org.hamcrest.core.StringRegularExpression`

`org.hamcrest.core.StringRegularExpression`
`org.hamcrest.text.MatchesPattern`

[2020-09-06 09:52] gokareless commented on #301
@nhojpatrick could you please review #317

[2020-09-21 15:22] fbastien commented on #289
@tumbarumba Would it work with the following signature?
[code]

If I understand [Guidelines for Wildcard Use](https://docs.oracle.com/javase/tutorial/java/generics/wildcardGuidelines.html) correctly, wildcards shouldn't be used in return types, thus keeping `Matcher<Iterable<U>>` as return type, but regarding `itemMatcher` parameter, matchers for superclasses of U should still be allowed to assert

[2020-10-06 13:20] fbastien commented on #40
@npryce Strongly disagree!!!
I'm unable to upgrade from 1.3 to 2.x because of this change, since my tests using `everyItem` wouldn't compile anymore.

Actually @bjoernpollex misinterpreted the [guidelines for wildcard use](https://docs.oracle.com/javase/tutorial/java/generics/wildcardGuidelines.html). See in particular this note:

Thus `everyItem` should keep returning `Matcher<Iterable<U>>`. A wi

[2020-10-06 13:46] fbastien commented on #289
@tumbarumba I tested in my project the signature I mentioned in my last comment, and it works (using Java 8).
Since this issue is breaking backwards compatibility, it prevents me from updating Hamcrest from 1.3 to neither 2.1 nor 2.2. A new release with this new signature (or at least reverting changes made in #40) would be very appreciated. 😛

[2020-10-09 07:56] seregamorph commented on #300
You can try to use [hamcrest-more-matchers](https://github.com/seregamorph/hamcrest-more-matchers) (available on maven central). Your sample will look like
[code]
Please note, the failed message will have convenient diagnostics (method reference resolved as string):
[code]
It works not only in Java 8, but also in Java 11 and 14.

[2020-10-14 18:10] Rhobal commented on #300
Thanks, switched to hamcrest.MoreMatchers.where. Works like a charm

[2020-10-24 12:02] nhojpatrick commented on #40
Just checking the current code and it's `public static <U> Matcher<Iterable<? extends U>> everyItem(final Matcher<U> itemMatcher) {`

And you and it to be; `public static <U> Matcher<Iterable<U>> everyItem(final Matcher<? extends U> itemMatcher) {`

[2020-10-24 12:03] nhojpatrick commented on #289
Does this solution break https://github.com/hamcrest/JavaHamcrest/issues/40

[2020-10-24 12:03] nhojpatrick commented on #40
Does this solution break https://github.com/hamcrest/JavaHamcrest/issues/289

[2020-12-01 00:58] hakanai opened #322 "Resurrect MatcherAssume.assumeThat"
hamcrest-junit used to have MatcherAssume class with assumeThat:
https://www.javadoc.io/doc/org.hamcrest/hamcrest-junit/latest/org/hamcrest/junit/MatcherAssume.html#assumeThat(T,%20org.hamcrest.Matcher)

This appears to have been accidentally(?) omitted when relocating `org.hamcrest.junit.*` to `org.hamcrest`.

JUnit subsequently have deprecated `Assert.assertThat` on the basis that Hamcrest's `Ma

[2021-01-04 11:03] fabian-froehlich opened #323 "Make hasXPath apply valueMatcher against multiple elements"
It seems convinient to have a XPath-Matcher that is not limited to only look into the first matched element for the XPath

Example-XML:
[code]
will not be accpeted by the assert
`assertThat(xml, hasXPath("/books/book/isbn", is(equalTo("B-ISBN"))));`
[code]
But this should match because the book with `B-ISBN` exists.

A workaround would be to leave out the `valueMatcher` and put the value into the

[2021-01-05 16:42] 62mkv opened #324 ""http://hamcrest.org/" says "Bad Gateway""
as of 2021-01-05: site responds with

DNS error

DNS error (the host name of the page you are looking for does not exist)

Please check that the host name has been spelled correctly.

[2021-01-07 00:00] nhojpatrick commented on #324
@62mkv domain name record was updated on 2020-12-23, and is valid until 2022-01-18 according to whois record. But not sure the real life person is that owns the domain.

Similar to https://github.com/hamcrest/JavaHamcrest/issues/168

Not sure if @sf105 knows who manages the domain.

[2021-01-07 13:08] sf105 commented on #324
we've just moved to a different registrar. `hamcrest.org` should be up. I'm working on `www` subdomain.

We now have a couple of people who have access. Should there be anyone else?

[2021-01-27 15:53] CC007 commented on #82
We are now at java 15 going on 16 and Java 7 is now very much end-of-life. Isn't it time to include optionals into the standard java hamcrest library?

[2021-01-27 20:24] TomRK1089 opened #325 "IsBlankString matcher is inconsistent with String.isBlank()"
The naming of the matcher implies it would give consistent results with `String.isBlank()`. However, it does not. The matcher uses a regex with pattern `\\s*` which will only match ASCII whitespace characters. `String.isBlank()` eventually delegates to `Character.isWhitespace()` which checks for Unicode whitespace as well. See https://stackoverflow.com/a/57998178 for a detailed breakdown, summariz

[2021-02-11 17:52] bjrke opened #328 "comparator method don't accept all possible comparable objects"
https://avro.apache.org/ for example creates classes which implement `Comparable<SpecificRecord>` but not `Comparable<ClassName>`.
Instead every avro class extends `SpecificRecordBase` which also contains the implementation of compare to.
Because of this its not easy to use matchers like `lessThan`.

A solution is to replace `<T>` with `<super T>` like I did in my PR https://github.com/hamcrest/Ja

[2021-02-12 20:01] gokareless commented on #301
@anyone?

[2021-02-18 23:02] hakanai commented on #325
For those of us with more experience it doesn't imply anything at all, because "blank" is such an ambiguous concept that any method in a library claiming to detect "blankness" is immediately banned for use by anyone who cares about what they're letting into their project.

[2021-02-18 23:07] hakanai commented on #322
I'm willing to take this one on if I can get some guidance on which direction to go.

I tried to create a `MatcherAssume` class and implement it but I couldn't throw either AssumptionViolatedException (JUnit4) or TestAbortedException (opentest4j, used by JUnit5) because neither was on the classpath.

[2021-02-18 23:08] hakanai commented on #293
I also wonder about:
* `theInstance(T)` vs `sameInstance(T)`
* `any(Class<T>)` vs `instanceOf(Class<T>)`

[2021-02-19 20:08] TomRK1089 commented on #325
In fact, "blank" does have a precise meaning in the Java ecosystem as I pointed out in my original post -- it should be consistent with the `isBlank` and `isWhitespace` methods of `String` and `Character` respectively.

I did learn from the associated PR that Hamcrest still supports older versions of Java that predate the `String#isBlank` convenience method; however, `Character#isWhitespace` has b

[2021-02-19 20:14] hakanai commented on #325
No, in the "Java ecosystem" you speak of, there are multiple definitions of whitespace. Just because you only know of one of them does not mean that the others do not exist.

Kevin Bourrillion compiled this spreadsheet:

https://docs.google.com/spreadsheets/d/1kq4ECwPjHX9B8QUCTPclgsDCXYaj7T-FlT4tB5q3ahk/edit#gid=0

[2021-02-21 08:07] peterdemaeyer opened #329 "Add declarative equivalent of JUnit's assertThrows"
Since version 4.13, JUnit has added `assertThrows`, with typical JUnit style "expected first argument, actual second argument".
Hamcrest does not have a declarative equivalent.
**As a** developer, **I want to** have a declarative equivalent of Junit's `assertThrows`, **so that** I can consistently use Hamcrest's declarative syntax when writing unit tests.

So, given the JUnit syntax:
`assertThrows

[2021-02-21 08:17] peterdemaeyer commented on #329
While preparing a fix, I realized that the functionality I desire leverages Java 1.8 lambda expressions, while Hamcrest is still on Java 1.7.
Java 1.7 was abandoned years ago, I hope it won't be a problem to bump Hamcrest to Java 1.8 too.

[2021-02-21 10:03] peterdemaeyer commented on #329
I've prepared a fix that adds the desired functionality.

-  Added `<T extends Throwable> MatcherAssert.assertThat(String reason, Executable executable, Throws<T> doesThrow)`.
- Added similar convenience method without reason.
- `Executable` is similar to JUnit's class with the same name, but I gave Hamcrest its own not to be tied down to a JUnit-specific dependency and in addition Hamcrest's is n

[2021-02-21 19:09] peterdemaeyer commented on #329
I created a PR for my changes, but it doesn't link correctly.
Not sure what is wrong, I could use some guidance here.

[2021-02-21 19:59] peterdemaeyer opened #331 "Bump source and target compatibility to Java 1.8"
Hamcrest still supports Java 1.7 source and target compatibility.
Java 1.7 is out of support for years already, I suggest to bump to Java 1.8.
Once that is done, we can finally leverage some useful Java 1.8 features such as lambda expressions in the Hamcrest sources.
Due to quirks and differences with generic type arguments, the change is not as straightforward as it looks, but I'll take a stab at

[2021-02-21 20:38] peterdemaeyer commented on #322
To get the record straight on JUnit 5: it has `assumeTrue`, `assumeFalse`, aligned with JUnit's `assertTrue`, `assertFalse`.

[2021-02-21 20:59] peterdemaeyer commented on #322
There seems to be an integration problem here.
AFAICT, Hamcrest is designed to be implementation-independent.
By lack of a common way of failing assumptions, implementing assumptions in Hamcrest would require it to become implementation-specific: JUnit 4, JUnit 5, or maybe yet something else in another test framework.
OpenTest4J seems to be an attempt at creating some common ground between testing

[2021-02-22 02:29] hakanai commented on #322
Yeah, certainly hamcrest _used_ to have integration modules like hamcrest-junit, but eventually it was all rolled back into one again. opentest4j seemed to be the only thing to integrate with, but it's still one more dependency so it seems like people would have to be happy with it to proceed anyway.

I wonder what other frameworks like assert4j are doing with junit for assumptions.

[2021-02-22 21:17] peterdemaeyer commented on #325
Note that `String.isBlank()` was only introduced relatively recently in Java 11.
The Hamcrest sources predate that, and still build with Java 1.7 at the time of writing.

[2021-02-23 20:15] TomRK1089 commented on #325
@peterdemaeyer understood, and I have updated the linked PR to remain compatible with that JDK.

I do think that since we're currently in rampdown for JDK16, that it's reasonable that devs will start using `String#isBlank` (I could have sworn this made it in in JDK8 for some reason -- guess JDK11 has been out even longer than I recalled at first) and make the same mistake.

As mentioned previously

[2021-02-23 21:03] peterdemaeyer commented on #322
While I was investigating this a bit further, I took my own stab at it.

For JUnit 5, I basically settled on the same conclusion: we need a dependency on OpenTest4J.
Ideally, speaking in Maven terms, that would be an "optional" dependency.
In Gradle terms (which I was not familiar with until just now) that apparently translates to ["feature variants"](https://docs.gradle.org/current/userguide/feat

[2021-03-04 21:47] peterdemaeyer commented on #279
`greaterThan` makes perfect sense for anything that implements `Comparable`, including `String`.

I certainly agree with the `invalid` label on this issue - can someone just close this please?

[2021-03-04 22:00] peterdemaeyer commented on #231
Some of what you're suggesting is possible with the `is` matcher, e.g. `is(not(T value))`.
_If_ anything should be done for this, I suggest to avoid duplicating methods, but instead consider exploiting identity matchers more, and maybe add `does` and `has` as matchers.

[2021-03-10 08:33] fvanwesterop opened #335 "shortcut functionality of org.hamcrest.core.AnyOf no longer seems to work"
When upgrading from Hamcrest 1.3 to 2.2 in a client project I noticed some tests now failed. It seems to be because the shortcut capability of _org.hamcrest.core.AnyOf_ no longer works, actualy since version 2.1 already.

The [Javadoc ](http://hamcrest.org/JavaHamcrest/javadoc/2.2/org/hamcrest/core/AnyOf.html)claims that:

But that no longer seems to hold: Now when the earlier matcher returns true

[2021-03-10 11:54] fvanwesterop commented on #335
Things are not what they seem ;-) It is actually the changed implementation of the constructor of _org.hamcrest.core.SubstringMatcher_ that causes the perceived behaviour:

In version 2.1 and later it is now doing a null-check on the substring we might want to match against later on. Since the matcher constructors are always executed (regardless wheter _anyOf()_ would call the matcher's _matches()

[2021-03-10 11:54] #335 closed

[2021-04-23 01:33] ScottG489 commented on #116
Just ran into this issue. It's been 5 years after the initial report or even last comment so I wanted to bring attention to this again. Thank you for the workaround @marksarnold which I was able to use.

[2021-04-24 05:39] night-gale commented on #209
Hi, I would like to work on this issue.
My idea currently is to add Classes/Methods to `equalTo` matcher family for strings with WithDiff version, e.g. `equalToWithDiff` as @garretwilson commented. However, I am not sure whether it's okay or not to introduce dependencies to external libraries that provides `diff` functionality, like `Difflib`.

[2021-04-25 08:15] Harlan1997 commented on #196
I would like to work with this issue. I have tried to expand `equalToCompressingWhiteSpace` by adding a property `whiteSpaceType` which is a enum type variable  with 6 types of whitespace: space, tab, line feed, form feed, carriagereturn, mix(mix types above), and I modify the constructor and `stripSpaces` to strip string according to different types of whitespace. To prevent conflicts, I added 6

[2021-04-25 11:48] night-gale commented on #323
Hi, I am currently working on this issue @nhojpatrick , and had a PR

[2021-04-25 11:50] HennyNile commented on #201
Hi @tumbarumba,
I would like to work on this issue and I have submitted a pull request.

[2021-04-25 11:51] XxxXxxXxx233 commented on #195
Hello. I implemented a method to check whether two Iterables intersect and submitted a PR.

[2021-04-25 18:46] sf105 commented on #196
Interesting point. Another option would be to introduce a policy object for the kind of white space to be stripped, that would allow new combinations. With the current approach, you could stash the regex in the enum value, which would avoid the chained `if` statements (which should be a `switch` anyway).

[2021-04-27 00:30] hakanai commented on #209
I would probably find a heuristic to guess whether the caller would like a diff or not, e.g. something like if the expected string contains more than one `\n` then show the diff, otherwise don't.

Otherwise we're going to have to go through our millions of assertions and manually change some of them to `equalToWithDiff` which will take a while.

[2021-04-27 13:41] night-gale commented on #209
I think it a great idea to use some heuristics to infer whether to diff the output or not, but It could be difficult to have a general standard. Maybe more discussions are required.

[2021-05-17 11:48] night-gale commented on #281
Hi, I would like to work on this issue @nhojpatrick .

[2021-05-24 04:51] Harlan1997 commented on #196
Thank you. I will have a try.

[2021-05-27 10:41] aoudiamoncef opened #346 "add stringContainsInAnyOrder matcher"
Hi

I tried to implement stringContainsInAnyOrder in my fork, but I found that we have already a duplicated #173 PR since 2017 with merge conflicts.

I'm waiting for feedback.

Thanks

[2021-06-23 06:37] hakanai commented on #322
One wonders what happened to **hamcrest-junit** - it seemed to exist specifically to solve the issue of dependencies by decoupling the two projects entirely, and Hamcrest could then have just introduced a **hamcrest-junit5** or whatever to deal with JUnit 5.

[2021-06-30 08:42] #279 closed

[2021-07-26 14:02] edysli commented on #331
duplicates #207
see also #206

[2021-08-08 22:51] CC007 commented on #322
I just ran into the issue while trying to use an assumption with junit5 while using SMOG to generate the matchers. If it's needed I'm all for the existence of a hamcrest-junit5 library, but this lack of assumtions in hamcrest is a serious issue.

From what I saw, assumptions throw a TestAbortedException instead of an AssertionFailedError. This TestAbortedException is indeed a opentest4j class. May

[2021-08-23 07:36] lujop commented on #143
I agree with @anma, the matcher should have exactly the same signature as `hasProperty`.
What's the reason for `hasPropertyAtPath` to don't use Matcher<?>?
Any possibility to change the signature @sf105 ?

[2021-09-07 12:41] ctapobep opened #349 "Better reflection equals"
Current `samePropertyValuesAs()` has many downsides and doesn't seem to be usable in real projects:

* It uses properties instead of fields
* It can't work with ORM proxies
* It's a shallow comparison

Unitils' assertReflectionEquals() seems to solve this problem well in general (but it's not supported and it has its own issues), I wonder if Hamcrest can also solve this problem. Approx. syntax cou

[2021-09-09 14:08] maratik123 opened #350 "Add ignorable fields to HasEqualValues"

[2021-09-22 11:23] Lms24 commented on #116
I also ran into this issue today. Has there been any progress on this, given that the issue was raised 5 years ago?

[2021-10-05 12:48] sbrannen commented on #280
The Spring Framework just ran into this today.

It causes our Dokka task to fail: https://ge.spring.io/s/nvchmnxy3rf26/console-log?task=:spring-webmvc:dokkaHtmlPartial

[2021-11-17 12:47] luskentyre-green opened #352 "containsInAnyOrder incorrectly identifies differences in identical collections"
When comparing two Lists or sets of characters, containsInOrder will report that a character is missing even when they sets or lists contain the same elements. The item reported as missing is always the character with the lowest ordinal value.

Code to reproduce: (hamcrest 2.2 plus JUnit 5)

[code]
output:

[code]

[2021-12-19 22:11] dmfs opened #353 "Hamcrest 3.0?"
I've been using Hamcrest for many years and like it a lot. During the last couple of years, however, I've come across several issues with its design that convinced me to give it a try and create a new assertion framework based on the same idea.

The (early) result can be seen at https://github.com/dmfs/senoritas

Compared to Hamcrest it has a couple of changes in its design. One of the most import

[2022-01-11 12:22] rjmunro opened #354 "You should be able to specify a lambda to return a reason"
It would be good if I can specify a reason as a lambda:

That way it can be evaluated only if it fails, and it can be passed the result of the evaluation without needing to call it again.

You could then do something like:

[code]

[2022-01-12 12:30] thisisatestuseraccount opened #355 "Conflicting license declarations"
Hi there,

While checking open source licenses used by my application's dependencies, I noticed Hamcrest 1.3 was published with an odd license declaration, "[New BSD License](http://www.opensource.org/licenses/bsd-license.php)". This should have been "2-Clause BSD License", but it is published now.

It looks like build.gradle has been updated to "[BSD License 3](http://opensource.org/licenses/BSD-

[2022-01-23 11:41] graemeg commented on #353
Is Hamcrest still being developed? The last release [2.2] is all the way back in 2019. I know Hamcrest has been around for many years, so code base is most likely very stable, thus less commits. But in the same light, I see there are a LOT of pull requests for improvements that have not been actioned.
![image](https://user-images.githubusercontent.com/72053/150676620-fea51c2e-02db-4b10-9ae0-ffa0a2

[2022-01-23 11:59] graemeg opened #356 "Not sure why assertThat() doesn't work in this case"
The second and third `assertThat` statements don't compile, but I'm not sure why. I'm using Hamcrest 2.2 with JDK 17 and JUnit5.

[code]

This is the error I get.

![image](https://user-images.githubusercontent.com/72053/150677242-0883fbdd-7a20-4e8e-85d1-3eb656c8efb0.png)

[2022-01-23 12:48] graemeg commented on #356
I tried the following as well, which compiles, but still doesn't pass the test as I thought it would:

[code]

In the end I used JUnit5's ParamateriledTest like this to accomplish what I wanted: Two assertions against each element in the list.

[code]

Not sure if there is a better way to do it with Hamcrest though. :shrug:

[2022-02-01 19:57] dmfs commented on #356
`containsString` is a `Matcher´ for `Strings`. You're using it to match a `List`.
I assume you want to verify that the list contains the string `"a"` but not `"b"` in that case you would write:
[code]

[2022-02-03 15:22] ctapobep commented on #349
Since this seems like a big project, no one will probably take it. So I'll try to create the matcher as a separate project: https://github.com/qala-io/assert-reflection-equals

[2022-02-03 15:22] #349 closed

[2022-03-01 10:08] Momchipetkov opened #382 "301 Moved Permanently"
Hi, I am sending the following json:
{"responseHeader":{"status":0,"QTime":1,"params":{"q":"a:\"hamcrest-core\" AND v:\"1.3\" p:\"jar\"","core":"","indent":"off","fl":"id,g,a,v,p,ec,timestamp,tags","start":"","sort":"score desc,timestamp desc,g asc,a asc,v desc","rows":"20","wt":"json","version":"2.2"}},"response":{"numFound":1,"start":0,"docs":[{"id":"org.hamcrest:hamcrest-core:1.3","g":"org.hamc

[2022-03-08 15:11] #382 closed

[2022-03-08 21:45] runeflobakk commented on #352
I suspect this is because there is no `containsInAnyOrder(..)` accepting a collection of the actual items to match, but there is an [overload accepting a collection with _matchers_](http://hamcrest.org/JavaHamcrest/javadoc/2.2/org/hamcrest/Matchers.html#containsInAnyOrder-java.util.Collection-) for every element which needs to match.

So e.g. in the example with the sets, you are in fact asserting

[2022-03-20 12:03] foal commented on #107
Agree -`hasItem(s)` is completely broken with return values.

The `hasItem` returns `Matcher<Iterable<? super T>>`:  <T> Matcher<**Iterable<? super T>**> hasItem(Matcher<? super T> itemMatcher)
The `hasItems` returns `Matcher<Iterable<T>>`:  <T> Matcher<**Iterable<T>**> hasItems(Matcher<? super T>... itemMatchers)

The 'contains ' method (the correct one) returns `Matcher<Iterable<? extends T>>`:

[2022-03-31 20:29] I2obiN opened #384 "assertThat(this.object, hasProperty("booleanName")) fails to match boolean types and renames the property"
I have a class with
`boolean isArchive`

During a test calling
`assertThat(this.object, hasProperty("isArchive"))` fails

I have debugged it and the property.getName() is getting either renamed or detected to "archive" for some reason when it's doing the comparison. Renaming the property to "archive" fixes my unit which doesn't make sense.

[2022-04-01 01:58] asvitkine commented on #220
I recently ran into this via:

```assertThat(Files.size(saveFile), is(not(0)));```

The above is always true. That's because Files.size() returns a long and we get boxing for both sides, so it becomes equivalent to:

```assertThat(Long.valueOf(0), is(not(Integer.valueOf(0))));```

Since the types don't match, the `is(not())` always evaluates to true, making the test buggy.

Using `0L` in the origi

[2022-04-01 08:19] sf105 commented on #220
Ouch. Not sure what we can do about that. In meantime, I tend to use the JUnit `assertNotEquals()` for simple comparison.s

[2022-04-28 11:20] I2obiN commented on #384
Turned out to be a versioning issue in the end

[2022-04-28 11:20] #384 closed

[2022-05-18 15:16] gmananton opened #387 "The matcher contains() is misleading"
I found for myself that the matcher name "contains" is a bit misleading. Because it sounds similarly to `contains()` method of `java.util.Collection` it may expected to behave like this:
`assertThat(List.of(1,2), contains(1))`
But the expression above will throw an `AssertionError`, because `contains()` is acting like `containsExactly()`.
So how do you think about renaming it?
Unfortunately the ob

[2022-05-19 07:42] jarl-dk opened #388 "FR: Matching maps with various type"
Given an actual map like this:
[code]

I wish/expect to make an assertion with matcher that looks like this:
[code]
java: no suitable method found for allOf(org.hamcrest.Matcher<java.util.Map<? extends java.lang.String,? extends org.hamcrest.Matcher<java.util.Map<? extends java.lang.String,? extends java.lang.String>>>>,org.hamcrest.Matcher<java.util.Map<? extends java.lang.String,? extends org.ha

[2022-05-19 08:33] jarl-dk commented on #388
I thnk this is related to
* https://github.com/hamcrest/JavaHamcrest/issues/284
* https://github.com/hamcrest/JavaHamcrest/issues/252
* https://github.com/hamcrest/JavaHamcrest/issues/107

[2022-05-19 13:01] BugsBunnyBR commented on #289
Hey, any news from this? I tried to update junit4 source code to hamcrest 2.2 and found this exact issue.

[2022-06-21 16:58] sbrannen commented on #289
Hi @tumbarumba,

We've run into related issues in the Spring Framework as well.

See https://github.com/spring-projects/spring-framework/issues/28660#issuecomment-1161839634 for details.

Specifically, in Spring's testing support we wish to add a new `RequestMatcher` factory method that accepts an argument with an effective type of `Matcher<Iterable<String>>` (tentatively slated as `Matcher<Iterab

[2022-06-24 09:43] Tikani commented on #289
@sbrannen imo, a correct way of dealing with variance, if you want to give flexibility to API  - when an argument is contravariant and a return type is covariant. It will be great if public API is reworked this way.

[2022-07-05 07:58] vaukai commented on #256
Gentoo has a [patch making it compile even with `jdk 17`](https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-java/hamcrest/files/hamcrest-2.2-java-11.patch).

[2022-09-07 12:15] aschaich opened #390 "oss-fuzz integration"
Hi all,

we have prepared the [Initial Integration](https://github.com/CodeIntelligenceTesting/oss-fuzz/commit/cefb2f668d5a160d9492461ac657184fb56cc5a3) of hamcrest into [Google OSS-Fuzz](https://github.com/google/oss-fuzz) which will provide more security for your project.

Why do you need Fuzzing?
The Code Intelligence JVM fuzzer [Jazzer](https://github.com/CodeIntelligenceTesting/jazzer) has al

[2022-10-06 14:56] SVNKoch opened #391 "Participitation in Hacktoberfest?"
Are you planning on participating in the Hacktoberfest?
See https://hacktoberfest.com/
You would just need to add the label "hacktoberfest" to the repo.

[2022-10-06 20:52] dmfs commented on #353
Just a quick update: in the meantime, I've published the lib as a new project under https://github.com/saynotobugsorg/confidence The senoritas repo is no longer maintained.

[2022-10-26 18:24] rozagerardo opened #392 "HasProperty Matcher doesn't work with Java Records"
**Describe the bug**
I have the following simple assertion in my test:

[code]

For the following record:

[code]

And even though I can see the object does have the property (set with a value), the test fails.

I have tracked this down, and it seems the "issue" is generated in the `PropertyUtil` class, in the `propertyDescriptorsFor` method:

https://github.com/hamcrest/JavaHamcrest/blob/5d766425